﻿<!--This is a main HTML file of project default page when application start.-->
<!--All reference of css and javascript lib is here.-->

<!DOCTYPE html>
<html>

<!--head section This is a place of all reference of css and javascript lib-->
<head>
    <!-- Meta section -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no"> <!-- To disable phone number typing.-->
    <!-- end Meta section -->
    <title></title>

    <!-- Font reference section -->
    <link href="lib/robotodraft/robotodraft.css">
    <!-- end Font reference section -->

    <!-- CSS reference section -->
    <link rel="stylesheet" href="css/ionic.app.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet prefetch" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="lib/font-awesome-4.4.0/css/font-awesome.css">
    <!-- end CSS reference section -->

    <!-- Ionic javascript lib -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- end Ionic javascript lib -->

    <!-- Angular javascript lib -->
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <!-- end Angular javascript lib -->

    <!-- Cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <!-- end Cordova script -->

    <!--ionic framework ngIOS9UIWebViewPatch-->
    <!--Learn more about ngIOS9UIWebViewPatch at : http://blog.ionic.io/ios-9-potential-breaking-change/-->
    <script src="lib/ngIOS9UIWebViewPatch/angular-ios9-uiwebview.patch.js"></script>
    <!--end ionic framework ngIOS9UIWebViewPatch-->

    <!-- app.js section-->
    <script src="js/app.js"></script>
    <!-- end app.js section-->

	<link rel="stylesheet" href="dist/textAngular.css">
	<script src='dist/textAngular-rangy.min.js'></script>
	<script src='dist/textAngular-sanitize.min.js'></script>
	<script src='dist/textAngular.min.js'></script>

    <!-- Controllers section-->
    <script src="js/controllers.js"></script>
	<!-- <script src="js/tap_vendor.js"></script> -->
    <script src="js/shared/directives.js"></script>
    <script src="js/shared/filter.js"></script>
    <script src="js/shared/controllers.js"></script>
   

    <!-- jQuery section-->
    <script src="lib/jQuery/jquery.js"></script>
    <!-- end jQuery section-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5cCYfEYzajx0_ttMTac9a8b1ZjaVOkNs"></script>
</head><!-- end head section-->

<!--body section-->
<body ng-app="starter" class="hide-native-scroll-y">

<!--Custom Style section-->
<style type="text/css">
    {{customStyle}}
</style><!-- end Custom Style section-->

<!-- Ionic navigation bar section-->
<ion-nav-view></ion-nav-view>
<!-- end Ionic navigation bar section-->

</body><!-- end body section-->


<!-- Angular custom template section-->

<!--Share template confirm-dialog section-->
<script type="text/ng-template" id="confirm-dialog.html">
    <md-dialog aria-label="confirm-dialog">
        <form>
            <md-dialog-content>
                <div>
                    <h2 class="md-title">{{displayOption.title}}</h2>

                    <p>{{displayOption.content}}</p>
                </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <a class="md-primary-color dialog-action-btn"   ng-click="cancel()">
                    {{displayOption.cancel}}
                </a>
                <a class="md-primary-color okbtn dialog-action-btn"  ng-click="ok()">
                    {{displayOption.ok}}
                </a>
            </div>
        </form>
    </md-dialog>
</script> <!-- end share template confirm-dialog section-->

<script type="text/ng-template" id="alert-dialog.html">
	<md-dialog aria-label="alert-dialog">
        <form>
            <md-dialog-content>
                <div>
                    <h2 class="md-title">{{displayOption.title}}</h2>

                    <p>{{displayOption.content}}</p>
                </div>
            </md-dialog-content>
            <div class="md-actions" layout="row">
                <a class="md-primary-color dialog-action-btn" style="background:#445a10 !important;color:#fff !important;border-radius: 5px;"  ng-click="cancel()">
                    {{displayOption.cancel}}
                </a>
                <a class="md-primary-color okbtn dialog-action-btn" style="background:#445a10 !important;color:#fff !important;border-radius: 5px;width: 50px;    line-height: 30px;   text-align: center;" ng-click="ok()">
                    {{displayOption.ok}}
                </a>
            </div>
        </form>
    </md-dialog>
</script> <!-- end share template confirm-dialog section-->

<!-- Share template toast section-->
<script type="text/ng-template" id="toast.html">
    <md-toast class="toast-form">
        <span flex>{{displayOption.title}}</span>
    </md-toast>
</script><!-- end share template toast section-->

<!-- end Angular custom template section-->

<!--angular template section-->
<script type="text/ng-template" id="ui-list-bottom-sheet-template">

    <md-bottom-sheet class="md-list md-has-header">
<h1 class="md-bottom-sheet-header">Sibling Details</h1>
	<div class="radio-container" style='width:100%'>
                <md-radio-group ng-model="radioData.fruit">
                    <md-radio-button value="1" ng-click="closeListBottomSheet()">Kuyeli R</md-radio-button>
                    <md-radio-button value="2" ng-click="closeListBottomSheet()">Kannan R</md-radio-button>
                    <md-radio-button value="3" ng-click="closeListBottomSheet()">Kirthika R</md-radio-button>
                </md-radio-group>
            </div>

        

    </md-bottom-sheet>
</script>
<!-- end Angular custom template section-->



<script type="text/ng-template" id="ui-grid-bottom-sheet-template">
    <md-bottom-sheet class="md-grid">
        <!--list section-->
        <md-list id="bottom-sheet-grid-md-list">
            <md-list-item>
                <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                    <md-icon md-svg-src="facebook"></md-icon>
                    <div class="md-grid-text"> Facebook</div>
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                    <md-icon md-svg-src="twitter"></md-icon>
                    <div class="md-grid-text"> Twitter</div>
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                    <md-icon md-svg-src="mail"></md-icon>
                    <div class="md-grid-text"> Mail</div>
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                    <i class="ion-android-image"></i>

                    <div class="md-grid-text"> Save Image</div>
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                    <md-icon md-svg-src="share-arrow"></md-icon>
                    <div class="md-grid-text"> More</div>
                </a>
            </md-list-item>
        </md-list>
        <!--end list section-->
    </md-bottom-sheet>
</script>
<!--end angular template section-->


</html>