<!--View Information-->
<!--View name :  Achievements -->
<!--State name : app.achievements -->
<!--URL : #app/achievements -->

<ion-view title='Achievements'>
<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
<!--right button on navigation bar-->
<!-- <ion-nav-buttons side="right">
	<i class="md-icon-button md-icon-button ion-nav-button-right ion-android-more-vertical md-button md-default-theme material-background" ng-click="showListBottomSheet($event)" style='font-size:25px'></i>
</ion-nav-buttons>  -->
<!--end right button on navigation bar-->



<ion-content id="news-feed-content">
        

            
<!--<md-subheader class="md-warn"  style="margin-bottom: 10px;">Achievement</md-subheader>-->
<!-- <div class="news-item" style="background: transparent;">
<br>
        <div class="news-item" collection-repeat="data in datas" style="width: 94%; margin-left: 3%; margin-right: 3%;background: #fff;">

            
            <div class="row detail" ng-click="popup(data.created_date,data.description,data.title)">
                <div class="col">
                   <p class="content">
                        <div class="text-right">
                        {{data.created_date.split(' ')[0]}}
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> {{data.created_date.split(' ')[1]}}
                        </div>
                    </div></p>
					 <h1>{{data.title}}
                    </h1>

                    <p class="content">
                        {{data.description}}
                    </p>

                     
                </div>
            </div>

        </div> -->


<md-list>
<md-list-item ng-repeat="data in datas" class="noright" style="margin-top: 1%;background: #fff;">

					<!--detail section-->
	<div class="row detail" ng-click="popup(data.created_date,data.description,data.title)" style="margin-top: 1%;">
		<div class="col">
			<p class="content">
                        <div class="text-right">
                        {{data.created_date.split(' ')[0]}}
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> {{data.created_date.split(' ')[1]}}
                        </div>
                    </div></p>
					 <h4>{{data.title}}
                    </h4>
            <p class="content">
                        {{data.description }}
            </p>

                     
		</div>
	</div><!--end detail section-->
</md-list-item>
</md-list>


        <div class="row"></div>
    </ion-content><!--end news feed section-->

    <!--button section-->
    <!-- <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div> -->
	<!--end button section-->
</ion-view>
