<!--View Information-->
<!--View name : Assignment-->
<!--State name : app.assignment-->
<!--URL : #app/assignment -->

<ion-view title='Assignment'>
    <!--social sign up section-->
    <ion-content style="background: #f6f6f6;">

		<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 5px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>
        <!--panel section-->

<form name="myForm" novalidate  id="social-sign-up-content" style="background: #fff;border-radius:10px;margin:30px;padding:20px;">
		<div class='row'>
		<md-radio-group ng-model="type" ng-click="radiochange(type)">
                    <md-radio-button value="All" ng-checked="true" style='float:left'> All</md-radio-button>
                    <md-radio-button value="Specific" class='col-50' style='float:left'> Specific</md-radio-button>
        </md-radio-group>
		</div>
		<div ng-show="typestu">

		<md-select class="user-name stucls" ng-model="student1" placeholder="Select Student *" aria-label="md-option" style="border-bottom: 0px solid #eee;padding-bottom: 5px;
    margin-bottom: 10px;margin-left: 10px;">
            <md-option ng-repeat="stud in studentdatas" value="{{stud.studentID}}">{{stud.name}}</md-option>
		</md-select>
		</div>

		<md-select class="user-name stucls" ng-model="subject" placeholder="Select Subject *" aria-label="md-option" style="border-bottom: 0px solid #eee;padding-bottom: 5px;
    margin-bottom: 10px;margin-left: 10px;">
            <md-option ng-repeat="sub in subjects" value="{{sub.id}}">{{sub.subject_name}}</md-option>
		</md-select>
		
      <md-input-container md-no-float="">
            <div>
                <textarea class="user-name" ng-model="details" name="details"  rows="4" columns="20" placeholder="Enter Assignment *" required    
				style="width: 100%;"></textarea>
				
            </div>
        </md-input-container> 
		
		<p style="color:#ff000c"  ng-show="myForm.details.$error.required">* Assignment is required</p>
 
 <br> 
 <input type="button" id="fileinput" name="file" class="md-raised social-button md-button md-default-theme material-background"
  style="width: 38%;"
 value="Choose File"/>
 <a style="background-color : #445a10 !important;width: 98%;" id="fileName"></a>
 <br>
        <a ng-click="assignsubmit(type,student1,subject,details)" ng-disabled="myForm.$invalid" class="md-raised social-button md-button md-default-theme material-background" style="background-color : #445a10 !important;width: 98%;">
            Apply
        </a>
</form>

<style>
.stucls .md-select-label.md-placeholder
{
color: #847979;
}
.stucls .md-select-label
{
border-bottom-color: #847979;
}
.stucls .md-select-label
{
width: 100%;
}
md-select:not([disabled]):focus .md-select-label 
{
    border-bottom-color: rgb(232, 227, 229);
}
</style>
    </ion-content><!--end social sign up section-->
</ion-view>