<!--View Information-->
<!--View name : Attendance-->
<!--State name : app.attendance-->
<!--URL : #app/attendance-->

<ion-view title='<img src="img/logo_75_33.png">'>

<!--right button on navigation bar-->
<ion-nav-buttons side="right">
	<i class="md-icon-button md-icon-button ion-nav-button-right ion-android-more-vertical md-button md-default-theme material-background" ng-click="showListBottomSheet($event)" style='font-size:25px'></i>
</ion-nav-buttons> 
<!--end right button on navigation bar-->

    <!--news feed section-->
    <ion-content id="">

<br>

<div id="online-course">
    <div id="online-course-content">
        <div class="course-list">
				<md-subheader class="md-warn">Student Attendance</md-subheader>
            <!--content item section-->
            <div class="course-item col leftfloat">
               <!--  <div class="title angular-course-background">
                    Attendance
                </div> -->
                <div class="content rndcnr attnpg">
                   <p class='attndcls'>
                        <a href="" class="md-raised md-button md-default-theme dscard_clr1 paddcls">
                            <span style='font-size:36px'><b>32</B></span><span style='font-size:10px'> Days</span><br>Present</a>
						<a href="" class="md-raised md-button md-default-theme dscard_clr1 paddcls">
                            <span style='font-size:36px'><b>2</B></span><span style='font-size:10px'> Days</span><br>Absent</a>
						<a href="" class="md-raised md-button md-default-theme dscard_clr1 paddcls">
                           <span style='font-size:36px'><b>63</B></span><span style='font-size:10px'> %</span><br>Percent</a>
                    </p>
                </div>
            </div> <!--end content item section-->




</div>
</div>
</div>


<section class="container">
    <table class="cal">
      <caption>
        <!-- <span class="prev"><a href="#">&larr;</a></span>
        <span class="next"><a href="#">&rarr;</a></span> -->
        October 2016
      </caption>
      <thead>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="off"><a href="#">26</a></td>
          <td class="off"><a href="#">27</a></td>
          <td class="off"><a href="#">28</a></td>
          <td class="off"><a href="#">29</a></td>
          <td class="off"><a href="#">30</a></td>
          <td><a href="#" class='present'>1</a></td>
          <td><a href="#">2</a></td>
        </tr>
        <tr>
          <td><a href="#" class='present'>3</a></td>
          <td><a href="#" class='present'>4</a></td>
          <td><a href="#" class='absent'>5</a></td>
          <td><a href="#" class='present'>6</a></td>
          <td class="active"><a href="#">7</a></td>
          <td><a href="#">8</a></td>
          <td><a href="#">9</a></td>
        </tr>
        <tr>
          <td><a href="#">10</a></td>
          <td><a href="#">11</a></td>
          <td><a href="#">12</a></td>
          <td><a href="#">13</a></td>
          <td><a href="#">14</a></td>
          <td><a href="#">15</a></td>
          <td><a href="#">16</a></td>
        </tr>
        <tr>
          <td><a href="#">17</a></td>
          <td><a href="#">18</a></td>
          <td><a href="#">19</a></td>
          <td><a href="#">20</a></td>
          <td><a href="#">21</a></td>
          <td><a href="#">22</a></td>
          <td><a href="#">23</a></td>
        </tr>
        <tr>
          <td><a href="#">24</a></td>
          <td><a href="#">25</a></td>
          <td><a href="#">26</a></td>
          <td><a href="#">27</a></td>
          <td><a href="#">28</a></td>
          <td><a href="#">29</a></td>
          <td><a href="#">30</a></td>
        </tr>
        <tr>
          <td><a href="#">31</a></td>
          <td class="off"><a href="#">1</a></td>
          <td class="off"><a href="#">2</a></td>
          <td class="off"><a href="#">3</a></td>
          <td class="off"><a href="#">4</a></td>
          <td class="off"><a href="#">5</a></td>
		  <td class="off"><a href="#">6</a></td>
        </tr>
      </tbody>
    </table>
  </section>
    </ion-content><!--end news feed section-->

    <!--button section-->
    <!-- <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div> -->
	<!--end button section-->
</ion-view>