<!--View Information-->
<!--View name : Mark Attendance -->
<!--Controller name : mark_attendance>
<!--Controller path : www/js/controllers.js-->
<!--State name : app.mark_attendance>
<!--URL : #app/mark_attendance-->

<ion-view title='Automatic Attendance'>

<ion-nav-buttons side="left">
	<button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()">
	</button>
</ion-nav-buttons>

<!--right button on navigation bar-->
<ion-nav-buttons side="right">
	<!-- <i class="md-icon-button md-icon-button ion-nav-button-right ion-loop md-button md-default-theme material-background" ng-click="reloadPage()" style='font-size:30px'></i> -->
	<i class="icon ion-loop" class="md-button md-accent md-fab fab-toolbar-medium" style="float: right;width: 46px;height: 31px;padding-right: 10px;
    font-size: 30px;    padding-top: 3px;" aria-label="Add"  ng-click="reloadPage()"></i>
</ion-nav-buttons> 
<!--end right button on navigation bar-->

    <!--menu dashboard section-->
    <ion-content id="menu-dashboard-content">

		<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>

	<!-- <md-subheader class="md-warn">Mark Attendance</md-subheader> -->
        <!--panel section-->
<!-- <h2 class="md-warn md-subheader md-default-theme" style="background-color: #042e6f; padding: 0px!important; height: 25px;"><div class="md-subheader-inner" style="padding-top:6px!important;"><span style="float: left;font-size:13px;">Class : {{classname}} - {{sectionname}}</span><span style="float: right;padding-right:10px;font-size:13px;">{{date | date:'dd-MM-yyyy'}}</span><span class="md-button md-accent md-fab fab-toolbar-medium" style="float: right;margin-right: -107px;margin-top: -52px;width: 46px;height: 31px;padding: 9px;" aria-label="Add"  ng-click="reloadPage()"><i class="icon ion-loop" style="width:36px;height:36px;"></i></span></div></h2> -->
<!--
<a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>{{date | date:'dd-MM-yyyy'}}</a>
<a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>CLS : {{classname}} - {{sectionname}}</a>
<a href="" ng-click="showGridBottomSheet($event)" class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>STRENGTH</a>-->
<div align='center'  class='transaction_warning'></div>
<br>
<!-- <div class="course-item col-50" style='float: left;'>
							<div class="content angular-course-background rndcnr" style='width: 165px;'>
							<br>
								<div class="dash-medium">
									<h2>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home"></i>&nbsp;Pick Up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
								</div>
									<p style='text-align: center;'>
									<a href="" class="md-raised md-button md-default-theme ionic-course-background dscard_clr5">
										07:30 AM</a>
								</p>
							</div>
						</div>  -->
<div class="transaction_content" style=''>
<!-- <md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="PRESENT">
		<md-content>
              <md-list >
			 <md-list-item>
					<p> Select All </p>
					<md-checkbox class="md-secondary1 md-default-theme " ng-model="topping" ></md-checkbox>
				  </md-list-item>
				 <md-list-item ng-repeat="present in presents">		
					 <img alt="name" ng-src="img/jon-snow.jpg" class="md-avatar" />
					<p style='float:left'> {{ present.name }} </p>
					<md-checkbox class="md-secondary attndcls" ng-model="folder[present.studentID]"	 style='margin-right:5px'></md-checkbox>
				  </md-list-item>
				</md-list>
        </md-content>
	</md-tab>
	<md-tab label="ABSENT">
		<md-content>
				<md-list >
					<md-list-item  class="noright">
					<p>Select All</p>
					<md-checkbox class="md-secondary1"  ng-checked="selected" ng-model="checkAll"  click="checkAll()" style='margin-right:50px'></md-checkbox>
				  </md-list-item>

				  <md-list-item ng-repeat="absent in absents" class="noright">
					<img alt="name" ng-src="img/jon-snow.jpg" class="md-avatar" />
					<p> {{ absent.name }} </p>
					<md-checkbox class="md-secondary attndcls" ng-model="folder[absent.studentID]" style='margin-right:50px' value={{ absent.studentID }}></md-checkbox>
					<span  ng-if="absent.transport === 'P'"><md-icon class="md-secondary" aria-label="Chat" md-svg-src="checked" style='margin-top:-2px' ></md-icon></span>
					<span  ng-if="absent.transport === 'A'"><md-icon class="md-secondary" aria-label="Chat" md-svg-src="wrong" style='margin-top:-2px' ></md-icon></span>
				  </md-list-item>

				</md-list>
        </md-content>
	</md-tab>
</md-tabs> -->
<!-- <div class="row">
<div class="col-33"></div> 
<div class="col-33">
<a ng-click="reloadPage()" class="md-raised md-button md-default-theme material-background" style='text-align:center;color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>Submit</a>
<a ng-click="getAllSelected()" class="md-raised md-button md-default-theme material-background" style='text-align:center;color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>getAllSelected</a>
</div> 
<div class="col-33"></div> 
</div> -->

<div class="row attn_typ" style="display:none">
	<div class="col-50"  align="center"><a class="md-raised md-button md-default-theme attn_typ_btn_m" style='text-align:center;color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px;'>Morning</a></div> 
	<div class="col-50"  align="center" ><a class="md-raised md-button md-default-theme attn_typ_btn_e" style='text-align:center;color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px;'>Afternoon</a></div> 
</div>

<!-- <div align="center" ng-if="noti === '0'"><h5 style="color:#f00" class="attn_warn">Morning attendance marked today...!!!</h5></div> -->
<div align="center"><h5 style="color:#f00" class="attn_warn"></h5></div>

<md-tabs md-dynamic-height md-border-bottom  ng-if="noti === '1'">
	<md-tab label="PRESENT">
		<md-content>

		 <!--  <div flex-xs flex="100">
			<span ng-if="isChecked()">Un-</span>Select All
            <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()"></md-checkbox>
          </div> -->
		  <md-list>
			<md-list-item  ng-if="presents_length != 0">
			 <md-checkbox class="md-secondary1 md-default-theme " aria-label="Select All" ng-checked="isChecked1()" md-indeterminate="isIndeterminate1()" ng-click="toggleAll1()"></md-checkbox>
			 <p><span ng-if="isChecked1()">Un-</span>Select All</p>
			 </md-list-item>
            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in presents">
			<md-list-item  class="noright1" style='width:100%'>
              <md-checkbox ng-checked="exists1(item, selected1)" aria-label="Select All" ng-click="toggle1(item, selected1)" style='float:right' align='right' >
              </md-checkbox>{{ item.name }}
			  <!-- <span style='width:50%;float:right'>
			  <img alt="name" ng-src="img/jon-snow.jpg" class="md-avatar" style='float:right;width:30px;radius:15px' align='right'/>
			  </span> -->
			  </md-list-item> 
            </div>
			</md-list>
			<!-- <code style="display: block; padding: 8px;">{{selected1 | json}}{{studentID1 | json}}</code> -->
        </md-content>
	</md-tab>
	<md-tab label="ABSENT" >
		<md-content>

		  <!--  <div flex-xs flex="100">
		   <md-list-item>
			<span ng-if="isChecked()">Un-</span>Select All
            <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()"></md-checkbox>
          </div> -->
		  <md-list>
		  <md-list-item ng-if="absents_length != 0">
			<md-checkbox class="md-secondary1 md-default-theme " aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()"></md-checkbox>
			<p><span ng-if="isChecked()">Un-</span>Select All</p>
			</md-list-item>
            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
			<md-list-item  class="noright1" style='width:100%'>
              <md-checkbox ng-checked="exists(item, selected)" aria-label="Select All" ng-click="toggle(item, selected)" style='float:right' align='right'>
              </md-checkbox>{{ item.name }}
			  <!-- <span style='width:50%;float:right'>
			  <img alt="name" ng-src="img/jon-snow.jpg" class="md-avatar" style='float:right;width:30px;radius:15px' align='right'/>
			  </span> -->
			  <span  ng-if="item.transport === 'P'"><md-icon class="md-secondary" aria-label="Chat" md-svg-src="checked" style='margin-top:-2px' ></md-icon></span>
			  <span  ng-if="item.transport === 'A'"><md-icon class="md-secondary" aria-label="Chat" md-svg-src="wrong" style='margin-top:-2px' ></md-icon></span>
			  </md-list-item> 
            </div>
			</md-list>
				<!-- <code style="display: block; padding: 8px;">{{selected | json}}{{studentID | json}}</code> -->
        </md-content>
	</md-tab>
</md-tabs>

<div class="row"  ng-if="noti === '1'">
<div class="col-33"></div> 
<div class="col-33">
<a ng-click="mark_attendance()" ng-disabled="isDisabled" class="md-raised md-button md-default-theme material-background" style='text-align:center;color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px;background-color:#445a10 !important'>Submit</a>
</div> 
<div class="col-33"></div> 
</div>

      
</div>
  
	   
        <!--
          In IE, we cannot apply flex directly to <fieldset>
          @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
        -->

<!-- <div ng-controller="AppCtrl" class="md-padding demo">
  <div layout="row" layout-wrap>
    <div flex="100" layout="column">
      <div>
        <fieldset class="demo-fieldset" >
          <legend class="demo-legend"></legend>
          <div layout="row" layout-wrap flex>
          <div flex-xs flex="50">
            <md-checkbox aria-label="Select All"
                         ng-checked="isChecked()"
                         md-indeterminate="isIndeterminate()"
                         ng-click="toggleAll()">
              <span ng-if="isChecked()">Un-</span>Select All
            </md-checkbox>
          </div>
            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in items">
              <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
               {{ item.name }}
              </md-checkbox>
            </div>
			<div flex="100">
      <h2 class="md-title">Selected Items</h2>
      <code style="display: block; padding: 8px;">{{selected | json}}{{studentID | json}}</code>
    </div>
          </div>
        </fieldset>
      </div>
    </div>
</div> -->
<style>
.checkboxdemoSelectAll .demo-legend {
  color: #3F51B5; }

.checkboxdemoSelectAll .demo-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }

.checkboxdemoSelectAll .demo-select-all-checkboxes {
  padding-left: 30px; }
  </style>
    </ion-content><!--Menu dashboard section-->
</ion-view>

<script type="text/ng-template" id="ui-list-bottom-sheet-template">
    <md-bottom-sheet class="md-list md-has-header">
        <h1 class="md-bottom-sheet-header">List Bottom Sheet</h1>
        <!--list section-->
        <md-list>
            <md-list-item>
                <a class="md-default-theme md-bottom-sheet-list-item"
                   ng-click="closeListBottomSheet()">
                    <i class="ion-android-call"></i>
                    <span>Actions 1</span>
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-default-theme md-bottom-sheet-list-item"
                   ng-click="closeListBottomSheet()">
                    <i class="ion-android-list"></i>
                    <span>Actions 2</span>
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-default-theme md-bottom-sheet-list-item"
                   ng-click="closeListBottomSheet()">
                    <i class="ion-android-delete"></i>
                    <span>Actions 3</span>
                </a>
            </md-list-item>
        </md-list>

        <!--end list section-->
    </md-bottom-sheet>
</script>


<script type="text/ng-template" id="ui-grid-bottom-sheet-template">
    <md-bottom-sheet class="md-grid">
        <!--list section-->
        <md-list id="bottom-sheet-grid-md-list">
            <md-list-item>
                <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                   
					<a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>{{totalstrength}}</a>
					 <div class="md-grid-text1" style="text-align:center;font-weight:600;letter-spacing:1px;padding:0px 10px"> TOTAL</div>
                    
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                    <a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>{{presentstrength}}</a>
					 <div class="md-grid-text1" style="text-align:center;font-weight:600;letter-spacing:1px;padding:0px 10px"> PRESENT</div>
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                    <a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>{{absentstrength}}</a>
					 <div class="md-grid-text1" style="text-align:center;font-weight:600;letter-spacing:1px;padding:0px 10px"> ABSENT</div>
                </a>
            </md-list-item>

        </md-list>
        <!--end list section-->
    </md-bottom-sheet>
</script>