<!--View Information-->
<!--View name : book_returned -->
<!--State name : app.book_returned -->
<!--URL : #app/book_returned -->

<ion-view title='Book Returned'>
<!--right button on navigation bar-->
<!--end right button on navigation bar-->

<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
 </ion-nav-buttons>


    <!--news feed section-->
    <ion-content id="news-feed-content">



        <div class="news-item">

            
<!-- <md-subheader class="md-warn">Leave Details</md-subheader> -->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>


<div class="bg_clrcss">
			

			<md-list >
						<md-list-item ng-repeat="data in datas"  ng-if="data.return_date !== 'Empty'" >
							<div class="news-item  libclr{{$index+1}}" style="margin-bottom: 0px;padding: 0px;    padding-left: 10px;">
								<div class="row detail" ng-click="show(data.issueID)" style="padding: 0px;">
									<div class="col" style="padding: 0px;">
										<h4>
											<span style="padding: 5px;font-size: 15px;">{{data.book_name }}</span>
										</h4>
										<p class="content" style="    font-size: 11px;">
											<b>Author : </b>{{data.author }} <br>
											<b>Serial Number : </b>{{data.serial_no }} <span ng-if="data.fine != '0.00'"><span style="float: right;background: #F44336;padding-right: 10px;font-weight: 700;color: #fff;padding-left: 10px;width: 42%;" >Fine : Rs. {{data.fine }}</span></span><br>
											<b>Issue Date : </b>{{data.issue_date.split(' ')[0] }} | <b>Return Date : </b>{{data.return_date.split(' ')[0] }}
										</p>
										<!--<div id="material-content" ><h1>{{data.book_name}}</h1><p class="content">{{data.due_date}}</p></div>-->
									</div>
								</div>
							</div>
						</md-list-item>
					</md-list>

        </div>


    </ion-content><!--end news feed section-->

    <!--button section-->
    <!-- <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div> -->
	<!--end button section-->

<style>
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused 
{
    color: #445a10;
}
md-tabs md-ink-bar {
color: #445a10;
    background: #445a10;
}
.bg_clrcss
{
    background-color: rgb(246, 246, 246);
}
</style>
</ion-view>

 <script id="templates/lib_details.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-positive" style="background-color : #03b2fd!important;">
			<h1 class="title">View Book Details</h1>
			<button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
		</ion-header-bar>
		<ion-content class="padding">
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Serial No.</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.serial_no}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Book Name</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.book_name}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Issue Date</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.issue_date}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Due Date</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.due_date}}</p>
				</div>
			</div>
			<div class="row detail" ng-if="single_data.fine !== 'Empty'">
				<div class="col col-25">
					<h1 style="font-size: 14px">Fine</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.fine}}</p>
				</div>
			</div>
			<div class="row detail"  ng-if="single_data.return_date !== 'Empty'">
				<div class="col col-25">
					<h1 style="font-size: 14px">Returned Date</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.return_date}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col">
					<h1 style="font-size: 14px">Remarks</h1>
					</div>
			</div>
			<div class="row detail">
				<div class="col"><p class="content" style="font-size:14px;">{{single_data.remarks | htmlToPlaintext}}</p></div>
			</div>
		</ion-content>
	</ion-modal-view>
</script>
