<!--View Information-->
<!--View name : book_issued -->
<!--State name : app.book_issued -->
<!--URL : #app/book_issued -->

<ion-view title='Book Issued'>
<!--right button on navigation bar-->
<!--end right button on navigation bar-->

<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>


    <!--news feed section-->
    <ion-content id="news-feed-content">



        <div class="news-item">

            
<!-- <md-subheader class="md-warn">Leave Details</md-subheader> -->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>


<div class="bg_clrcss">
			

				<md-list >
						<md-list-item ng-repeat="data in datas"  ng-if="data.return_date === 'Empty'" >
							<div class="news-item libclr{{$index+1}}" style="margin-bottom: 0px;padding: 0px;background:#fff;padding-left: 10px;">
								<div class="row detail" ng-click="show(data.issueID)" style="padding: 0px;">
									<div class="col" style="padding: 0px;">
										<h4>
											<span style="padding: 5px;font-size: 15px;">{{data.book_name }}</span>
										</h4>
										<p class="col-50 content" style="float:left">
											<b>Author : </b>{{data.author }} <br>
											<b>Serial Number : </b>{{data.serial_no }} <br>
											<b>Due Date : </b>{{data.due_date }}
										</p>
										<p class="col-50 content" style="float:right">
											<br>
											<span ng-if="data.finetotal > '0'"><span style="float: right;background: #F44336;padding-right: 10px;font-weight: 700;color: #fff;padding-left: 10px;width: 100%;" ">Overdue {{data.overdue }} Days</span></span><br>
											<span ng-if="data.finetotal > '0'"><span style="float: right;background: #749f1b;padding-right: 10px;font-weight: 700;color: #fff;padding-left: 10px;width: 100%;" >Fine : Rs. {{data.finetotal }}</span></span>
										</p>
										<!--<div id="material-content" ><h1>{{data.book_name}}</h1><p class="content">{{data.due_date}}</p></div>-->
									</div>
								</div>
							</div>
						</md-list-item>
					</md-list>
        </div>


        <!-- <div class="row"></div> -->
    </ion-content><!--end news feed section-->

    <!--button section-->
    <!-- <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div> -->
	<!--end button section-->

<style>
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused 
{
    color: #445a10;
}
md-tabs md-ink-bar {
color: #445a10;
    background: #445a10;
}
.bg_clrcss
{
    background-color: rgb(246, 246, 246);
}
</style>
</ion-view>

 <script id="templates/lib_details.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-positive" style="background-color : #03b2fd!important;">
			<h1 class="title">View Book Details</h1>
			<button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
		</ion-header-bar>
		<ion-content class="padding">
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Serial No.</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.serial_no}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Book Name</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.book_name}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Issue Date</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.issue_date}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Due Date</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.due_date}}</p>
				</div>
			</div>
			<div class="row detail" ng-if="single_data.finetotal > '0'">
				<div class="col col-25">
					<h1 style="font-size: 14px">Overdue</h1>
				</div>
				<div class="col" style="background: #F44336; color: #fff;height: 30px;">
					<p class="content" style="font-size:14px;">{{single_data.overdue}} Days</p>
				</div>
			</div>
			<div class="row detail" ng-if="single_data.finetotal > '0'">
				<div class="col col-25">
					<h1 style="font-size: 14px">Fine</h1>
				</div>
				<div class="col" style="background: #F44336; color: #fff;height: 30px;">
					<p class="content" style="font-size:14px;">Rs. {{single_data.finetotal}}</p>
				</div>
			</div>			
			<div class="row detail">
				<div class="col">
					<h1 style="font-size: 14px">Remarks</h1>
					</div>
			</div>
			<div class="row detail">
				<div class="col"><p class="content" style="font-size:14px;">{{single_data.remarks | htmlToPlaintext}}</p></div>
			</div>
		</ion-content>
	</ion-modal-view>
</script>
