<!--View Information-->
<!--View name : book_request -->
<!--State name : app.book_request -->
<!--URL : #app/book_request -->

<ion-view title='Request Book'>
<!--right button on navigation bar-->
<!--end right button on navigation bar-->

<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
 </ion-nav-buttons>


    <!--news feed section-->
    <ion-content id="news-feed-content">



        <div class="news-item">

            
<!-- <md-subheader class="md-warn">Leave Details</md-subheader> -->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>

<div class="request_div">
<form name="myForm1" novalidate style='padding:20px;margin:20px;background:#fff;border-radius: 10px;' id="social-sign-up-content">
	
                
               
        <!--input section-->
        
		
         
		<md-input-container md-no-float="">
            <div>
				<label>Book Title</label>
                <input type="text" class="user-name" id="book_name" name="book_name" ng-model="book_name"  placeholder="Book Title"  required style="background: transparent;">				
            </div>
			<p style="color:#042e6f" ng-show="submitted&&myForm1.book_name.$error.required">* Book Title is required</p>
        </md-input-container>

		<md-input-container md-no-float="">
            <div>
				<label>ISBN</label>
                <input type="text" class="user-name" id="ISBN" name="ISBN" ng-model="ISBN" placeholder="ISBN"  required style="background: transparent;">
            </div>
        </md-input-container>
		
		<md-input-container md-no-float="">
            <div>
				<label>Author</label>
                <input type="text" class="user-name" id="author" name="author" ng-model="author" placeholder="Author"   style="background: transparent;">
            </div>
        </md-input-container>

		<md-input-container md-no-float="">
            <div>
				<label>Copyright Year</label>
                <input type="text" class="user-name" id="year" name="year" ng-model="year"   placeholder="Year"  style="background: transparent;">
            </div>
        </md-input-container>

		<md-input-container md-no-float="">
            <div>
				<label>Description</label>
                <textarea class="user-name" ng-model="description" name="description" placeholder="Enter description"></textarea>
            </div>
        </md-input-container>

		
        <!--end input section-->
        <a ng-click="bookrequestsubmit(book_name,ISBN,author,year,description);submitted=true;"  class="md-raised social-button md-button md-default-theme material-background" style='background-color : #042e6f !important;'>
            Request Book
        </a>
</form>
		
          
</div>


        <!-- <div class="row"></div> -->
    </ion-content><!--end news feed section-->

    <!--button section-->
    <!-- <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div> -->
	<!--end button section-->

<style>
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused 
{
    color: #445a10;
}
md-tabs md-ink-bar {
color: #445a10;
    background: #445a10;
}
md-content
{
    background-color: rgb(246, 246, 246);
}
.request_div
{
	background: #f6f6f6;
    padding: 10px;
}
#social-sign-up-content md-input-container div input, md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: #222222;
}
</style>
</ion-view>

 
