<!--View Information-->
<!--View name : book_request_list -->
<!--State name : app.book_request_list -->
<!--URL : #app/book_request_list -->

<ion-view title='Request Book'>
<!--right button on navigation bar-->
<!--end right button on navigation bar-->

<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
 </ion-nav-buttons>


    <!--news feed section-->
    <ion-content id="news-feed-content">



        <div class="news-item">

            
<!-- <md-subheader class="md-warn">Leave Details</md-subheader> -->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>

<div class="bg_clrcss">
			<a ng-click="call_requestbook();"   style='background-color : #042e6f !important; color: #fff;padding: 5px;float: right; margin: 5px;  border-radius: 5px;'>
	Request Book
</a>
<br><br>

				<md-list >
						<md-list-item ng-repeat="data in datas"  >
							<div class="news-item  libclr{{$index+1}}" style="margin-bottom: 0px;padding: 0px;    padding-left: 10px;">
								<div class="row detail" ng-click="show(data.ID)" style="padding: 0px;">
									<div class="col" style="padding: 0px;">
										<h4>
											<span style="padding: 5px;font-size: 15px;">{{data.book_name }}</span>
										</h4>
										<p class="content">
											<b>Author : </b>{{data.author }}<br>
											<b>Request Date : </b>{{data.datetime  }}
										</p>
										<!--<div id="material-content" ><h1>{{data.book_name}}</h1><p class="content">{{data.due_date}}</p></div>-->
									</div>
								</div>
							</div>
						</md-list-item>
					</md-list>
        </div>


        <!-- <div class="row"></div> -->
    </ion-content><!--end news feed section-->

    <!--button section-->
    <!-- <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div> -->
	<!--end button section-->

<style>
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused 
{
    color: #445a10;
}
md-tabs md-ink-bar {
color: #445a10;
    background: #445a10;
}
.bg_clrcss
{
    background-color: rgb(246, 246, 246);
}
</style>
</ion-view>

<script id="templates/lib_details.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-positive" style="background-color : #03b2fd!important;">
			<h1 class="title">View Book Details</h1>
			<button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
		</ion-header-bar>
		<ion-content class="padding">
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Book Name</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.book_name}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">ISBN</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.isbn}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Author</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.author}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Year</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.copyright_year}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Request Date</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{single_data.datetime}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col">
					<h1 style="font-size: 14px">Description</h1>
					</div>
			</div>
			<div class="row detail">
				<div class="col"><p class="content" style="font-size:14px;">{{single_data.description | htmlToPlaintext}}</p></div>
			</div>
		</ion-content>
	</ion-modal-view>
</script>


 
