<!--View Information-->
<!--View name : book_reserve -->
<!--State name : app.book_reserve -->
<!--URL : #app/book_reserve -->

<ion-view title='Reserve Book'>
<!--right button on navigation bar-->
<!--end right button on navigation bar-->

<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>


    <!--news feed section-->
    <ion-content id="news-feed-content">



        <div class="news-item">

            
<!-- <md-subheader class="md-warn">Leave Details</md-subheader> -->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>




<div class="bg_clrcss">
			<a ng-click="call_searchbook();"   style='background-color : #042e6f !important; color: #fff;padding: 5px;float: right; margin: 5px;  border-radius: 5px;'>
	Reserve Book
</a>
<br><br>

				<md-list >
						<md-list-item ng-repeat="data in datas"  >
							<div class="news-item  libclr{{$index+1}}" style="margin-bottom: 0px;padding: 0px;    padding-left: 10px;">
								<div class="row detail" ng-click="show(data.ID)" style="padding: 0px;">
									<div class="col" style="padding: 0px;">
										<h4>
											<span style="padding: 5px;font-size: 15px;">{{data.book_name }}</span>
										</h4>
										<p class="content">
											<b>Author : </b>{{data.author }} <br>
											<b>Serial Number : </b>{{data.serial_no }}<br>
											<b>Reserve Date : </b>{{data.reserve_date }}
										</p>
										<!--<div id="material-content" ><h1>{{data.book_name}}</h1><p class="content">{{data.due_date}}</p></div>-->
									</div>
								</div>
							</div>
						</md-list-item>
					</md-list>
        </div>


        <!-- <div class="row"></div> -->
    </ion-content><!--end news feed section-->

    <!--button section-->
    <!--<div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div> -->
	<!--end button section-->

<style>
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused 
{
    color: #445a10;
}
md-tabs md-ink-bar {
color: #445a10;
    background: #445a10;
}
.bg_clrcss
{
    background-color: rgb(246, 246, 246);
}
</style>
</ion-view>



 
