<!--View Information-->
<!--View name : book_search -->
<!--State name : app.book_search -->
<!--URL : #app/book_search -->

<ion-view title='Reserve Book'>
<!--right button on navigation bar-->
<!--end right button on navigation bar-->

<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
 </ion-nav-buttons>


    <!--news feed section-->
    <ion-content id="news-feed-content">



        <div class="news-item">

            
<!-- <md-subheader class="md-warn">Leave Details</md-subheader> -->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>

<div class="reserve_div">
			
<form name="myForm1" novalidate style='padding:20px;margin:20px;background:#fff;border-radius: 10px;' id="social-sign-up-content">
	
                
               
        <!--input section-->
        
		
         
		<md-input-container md-no-float="">
            <div>
				<label>Book Title</label>
                <input type="text" class="user-name" id="book_name" name="book_name" ng-model="book_name"   placeholder="Book Title"  required style="background: transparent;">
				
            </div>
			<p style="color:#042e6f" ng-show="submitted&&myForm1.book_name.$error.required">* Book Title is required</p>
				<!-- <p style="color:#042e6f" ng-show="submitted">{{errMessage}}</p> -->
        </md-input-container>

		
		
        <!--end input section-->
        <a ng-click="booksearch(book_name);submitted=true;"  class="md-raised social-button md-button md-default-theme material-background" style='background-color : #042e6f !important;'>
            Search Book
        </a>
</form>

<md-list >
						<md-list-item ng-repeat="data in databook"  >
							<div class="news-item" style="margin-bottom: 0px;padding: 0px;    padding-left: 10px;">
								<div class="row detail" ng-click="show(data.serial_no,data.book_name)" style="padding: 0px;">
									<div class="col" style="padding: 0px;">
										<h4>
											<span style="padding: 5px;font-size: 15px;">{{data.book_name }}</span>
										</h4>
										<p class="content">
											<b>Serial Number : </b>{{data.serial_no }}
											<span class="reserve_css">Reserve Book</span>
										</p>
										<!--<div id="material-content" ><h1>{{data.book_name}}</h1><p class="content">{{data.due_date}}</p></div>-->
									</div>
								</div>
							</div>
						</md-list-item>
					</md-list>
		
</div>


        <!-- <div class="row"></div> -->
    </ion-content><!--end news feed section-->

    <!--button section-->
    <!-- <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div> -->
	<!--end button section-->

<style>
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused 
{
    color: #445a10;
}
md-tabs md-ink-bar {
color: #445a10;
    background: #445a10;
}
md-content
{
    background-color: rgb(246, 246, 246);
}
.reserve_div
{
	background: #f6f6f6;
    padding: 10px;
}
.reserve_css
{
color: #fff;
    text-align: right;
    float: right;
    background: #445a10;
    padding: 3px;
    margin-right: 3px;
    border-radius: 5px;
}
#social-sign-up-content md-input-container div input, md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: #222222;
}
</style>
</ion-view>

<script id="templates/book_reservation.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar bar-header bar-positive" style="background-color : #03b2fd!important;">
			<h1 class="title">Reserve Book Details</h1>
			<button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
		</ion-header-bar>
		<ion-content class="padding">
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Serial No.</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{serial_no}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Book Name</h1>
				</div>
				<div class="col">
					<p class="content" style="font-size:14px;">{{book_name}}</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col col-25">
					<h1 style="font-size: 14px">Reserve Date</h1>
				</div>
				<div class="col">
					<p class="content" >
					<input type="date" class="user-name" name="reserve_date" ng-model="reserve_date" min="{{today | date: 'yyyy-MM-dd'}}" placeholder="Date" required displayFormat="DD-MM-YYYY" style="    border-bottom: 1px solid;">
					<p style="color:#042e6f">{{errMessage}}</p>
				<p style="color:#042e6f" ng-show="submitted&&myForm1.reserve_date.$error.required">* Reserve Date is required</p>
					</p>
				</div>
			</div>
			<div class="row detail">
				<div class="col">
					<a ng-click="booksubmit(reserve_date);submitted=true;"  class="md-raised social-button md-button md-default-theme material-background" style='background-color : #042e6f !important;'>
						Reserve Book
					</a>
				</div>
			</div>
			
		</ion-content>
	</ion-modal-view>
</script>

 
