<!--View Information-->
<!--View name : Dashboard-->
<!--Controller name : dashboardCtrl-->
<!--Controller path : www/js/controllers.js-->
<!--State name : app.dashboard-->
<!--URL : #app/dashboard-->

<ion-view view-title='<img src="img/logo_75_33.png">' >
<!-- <style>
.bar .buttons .hide { display:block !important; }	
</style> -->
<ion-nav-buttons side="left">
	<button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()">
	</button>
</ion-nav-buttons>

<!--right button on navigation bar-->
<!--<ion-nav-buttons side="right">
	<i class="md-icon-button md-icon-button ion-nav-button-right ion-loop md-button md-default-theme material-background" ng-click="reloadPage()" style='font-size:30px'></i>
</ion-nav-buttons> -->
<!--end right button on navigation bar-->



    <!--toolbar section-->
    <!--<md-toolbar class="bar-subheader md-tall md-primary toolbar-medium">
        <div></div><div>
            <h3>Class & Section</h3>
        </div>
		<span>
        <a class="md-button md-accent md-fab fab-toolbar-medium"
           aria-label="Add"  ng-click="reloadPage()">
            <i class="icon ion-loop" ></i><span style="font-size: 15px;font-weight: 900;padding-left:-2px;vertical-align: top;"></span>
        </a>
		</span>
        <!-- <a class="md-button md-accent md-fab fab-toolbar-medium"
           aria-label="Add">
            <i class="icon ion-plus"></i>
        </a> -->
  <!--  </md-toolbar><!--end toolbar section-->

    <!--dashboard section-->
     <ion-content id="cube-feed-content">
	 <div class="row" style="background-color: #445a10;    padding-top: 0px;">
	 <div class="col-33" style="float:left;padding-left: 10px;">
	 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
				<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
	 </md-select>  
	 </div>
	 <div class="col-33" style="float:left">
	 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
				<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
	</md-select>

	 </div>
	 <div class="col-33" style="float:left">
	 <span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
	 </div>
	 </div>


	 <!-- <select ng-model="defaultSelectedVAT">
              <option value="">--- Select an option ---</option>
              <option ng-selected= "{{value.id == defaultSelectedVAT}}" ng-repeat="value in vatRates" 
                      value="{{value.id}}">{{value.value}}     
              </option>
             </select>  -->

	<!-- <md-subheader class="md-warn"><span>Dashboard </span></md-subheader> --><br>
<!-- <h2 class="md-warn md-subheader md-default-theme" style="background-color: #042e6f; padding: 0px!important; height: 25px;top: -20px;
"><div class="md-subheader-inner" style="padding-top:6px!important;"><span style="float: left;font-size:13px;">Class : {{classname}} - {{sectionname}}</span><span style="float: right;padding-right:10px;font-size:13px;">{{date | date:'dd-MM-yyyy'}}</span></div></h2> -->
<!--<md-toolbar class="bar-subheader md-tall md-primary toolbar-online-course " style="height: 140px !important;">
            <div style='margin-top:20px'>
                <img src="img/jon-snow.jpg" class="user-img"/ style='float:left;margin-left:30px'>

                <h1>{{ teachername }}</h1>

                <h2>Teacher Id : {{ teacherID }}</h2>
            </div>

        </md-toolbar>-->	
<div class="course-list">
	
<!-- <div class="course-item" style="margin-top:5px;margin-bottom:15px;padding: 0px 5px 0px 5px;">
         <div class="content" style="border-top: 0px;border: 2px solid #E1E1E1;border-radius: 0px;">
					<div class="row price-detail" style="padding: 0px">
						<div class="col"> 
							<h1 style="font-size: 14px;padding:5px">Assignment</h1>
						</div>
					</div>
					<div class="row price-detail" style="padding: 0px">
						<div class="col"> 
							<span style="">
							<p style="font-size: 13px;padding:5px;color:#042e6f;">
								{{datas.content}}
							</p> 
							</span>
						</div>
					</div>
           </div>
    </div> --> <!--end content item section-->


	<div style="margin-top: 1%;">
        <!--cube feed list section-->
        <div class="feed-list row" >
            <div class="col">
                <!--cube feed item section-->
                <div class="feed-item" style="border-radius: 10px;background: #749f1b;"  ng-click="call_events();" style="text-align: -webkit-center;">
                    <div class="feed-img">
                            <i class="fa fa-calendar track_bus"><!-- <sup class="badge badge-assertive" style="background-color: #78a218 !important;top: -1.5em;right: 1px;">0</sup> --></i> <br><b>Events</b> </div>
                    <div style="text-align: center;padding-bottom: 5px;">
                                  </div>
                </div>
                <!--end cube feed item section-->
            </div>
			<div class="col">
                <!--cube feed item section-->
				<div class="feed-item" style="border-radius: 10px;background: #ff6c60;" ng-click="call_achievements();">
                    <div class="feed-img" >
                            <i class="fa fa-trophy track_bus"><!-- <sup class="badge badge-assertive" style="background-color: #78a218 !important;top: -1.5em;right: 1px;">0</sup> --></i> <br><b>Achievements</b> </div>
                   <div style="text-align: center;padding-bottom: 5px;">
                      
                    </div>
                </div>
				<!--end cube feed item section-->
            </div>
            
        </div><!--end cube feed list section-->

		<div class="feed-list row">
            <div class="col">
                <!--cube feed item section-->
                <div class="feed-item" style="border-radius: 10px;background: #00baf2;"  ng-click="call_circulars();">
                    <div class="feed-img" >
                            <i class="fa fa-pencil-square-o track_bus"><!-- <sup class="badge badge-assertive" style="background-color: #78a218 !important;top: -1.5em;right: 1px;">0</sup> --></i> <br><b>Circular</b></div>
                    <div style="text-align: center;padding-bottom: 5px;">
                       
                    </div>
                </div>
                <!--end cube feed item section-->
            </div>
            <div class="col">
                <!--cube feed item section-->
                
                <div class="feed-item" style="border-radius: 10px;background: #ffc900;" ng-click="navigateTo('app.view_assignment')">
                    <div class="feed-img" >
                            <i class="fa fa-eye track_bus"><!-- <sup class="badge badge-assertive" style="background-color: #78a218 !important;top: -1.5em;right: 1px;">12</sup> --></i> <br><b>Assignment</b> </div>
                   <div style="text-align: center;padding-bottom: 5px;">
                      
                    </div>
                </div>
                <!--end cube feed item section-->
            </div>
        </div>
        </div><!--end cube feed list section-->


	<div class="course-item col" style="margin-top:5px;margin-bottom:15px;padding: 0px 5px 0px 5px;">

	
	<div>
	<a class="md-raised social-button md-button md-default-theme material-background" style="background-color: #445a10 !important;width: 96%;float: left;font-size: 15px;">Today Attendance</a>
	</div>

		  <div class="content col-33" style="border-top: 0px;border: 1px solid #f6f6f6;border-radius: 0px;width: 100%;float:left;background: #fff;">
					<div class="row price-detail" style="padding: 0px">
						<div class="col"> 
							<h1 style="font-size: 14px;padding:5px;text-align: -webkit-center;color:#000">Total</h1>
							<h1 style="font-size: 18px;padding:5px;text-align: -webkit-center;color:#000;">
								{{totalstrength}}
							</h1> 
						</div>
					</div>
          </div>
         <div class="content col-33" style="border-top: 0px;border: 1px solid #f6f6f6;border-radius: 0px;width: 100%;float:left;background: #fff;">
					<div class="row price-detail" style="padding: 0px">
						<div class="col"> 
							<h1 style="font-size: 14px;padding:5px;text-align: -webkit-center;color:#000">Present</h1>
							<h1 style="font-size: 18px;padding:5px;text-align: -webkit-center;color:#000;">
								{{presentstrength}}
							</h1> 
						</div>
					</div>
          </div>

		  <div class="content col-33" style="border-top: 0px;border: 1px solid #f6f6f6;border-radius: 0px;float:left;width: 100%;background: #fff;">
					<div class="row price-detail" style="padding: 0px">
						<div class="col"> 
							<h1 style="font-size: 14px;padding:5px;text-align: -webkit-center;color:#000">Absent</h1>
							<h1 style="font-size: 18px;padding:5px;text-align: -webkit-center;color:#000;">
								{{absentstrength}}
							</h1> 
						</div>
					</div>
          </div>

    </div> <!--end content item section-->
	
<br><Br>
	
</div>
<style>
.feed-item
{
text-align: -webkit-center;
}
.feed-img
{
	text-align: center;
    /* padding-top: 27px; */
    height: 80px;
    /* padding-bottom: 27px; */
    /* text-align: -webkit-center; */
    display: table-cell;
    vertical-align: middle;
}
</style>
    </ion-content><!--end dashboard section-->
</ion-view>



