<!--View Information-->
<!--View name : View Attendance -->
<!--Controller name : edit_attendance>
<!--Controller path : www/js/controllers.js -->
<!--State name : app.edit_attendance -->
<!--URL : #app/edit_attendance -->

<ion-view title='Edit Attendance'>

<!--right button on navigation bar-->
<!--<ion-nav-buttons side="right">
	<i class="md-icon-button md-icon-button ion-nav-button-right ion-loop md-button md-default-theme material-background" ng-click="reloadPage()" style='font-size:30px'></i>
</ion-nav-buttons> -->
<!--end right button on navigation bar-->

    <!--menu dashboard section-->
    <ion-content id="menu-dashboard-content">
        <!--panel section-->
<!-- <md-subheader class="md-warn">View Attendance</md-subheader> -->
        <!--panel section-->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>

<!-- <h2 class="md-warn md-subheader md-default-theme" style="background-color: #042e6f; padding: 0px!important; height: 25px;"><div class="md-subheader-inner" style="padding-top:6px!important;"><span style="float: left;font-size:13px;">Class : {{classname}} - {{sectionname}}</span><span style="float: right;padding-right:10px;font-size:13px;">{{date | date:'dd-MM-yyyy'}}</span></div></h2> -->


	
                        

<div align='center'  class='transaction_warning'></div>

<div class="row attn_typ col" style="display:none">
<md-radio-group ng-model="data.group1" ng-change="radioChanged()">
      <div class="col-50"  align="center" style="float:left"><md-radio-button value="1"  class="md-primary">Morning</md-radio-button></div>
      <div class="col-50"  align="center"><md-radio-button  value="2"  class="md-primary"> Afternoon </md-radio-button></div>
    </md-radio-group>
</div>

<div class="transaction_content" style=''>
<md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="PRESENT">
		<md-content>
		
			<md-list  >
				<md-list-item ng-repeat="data in defaultData" ng-if="data.day === 'P'" ng-click="make_absent(data.studentID)" >
				<!-- <div ng-if="topping.status == 'Present'"> -->
					<!-- <img alt="name" ng-src="img/jon-snow.jpg" class="md-avatar" width="50px" style='float:left'/> -->
					<!--<span ng-if="data.day === 'P'">
					<span ng-if="data.day === 'P'">-->
						 <img ng-if="data.day === 'P'" alt="name" ng-src=" {{baseurl}}/uploads/images/{{data.photo}}" class="md-avatar"/>
						 <p  ng-if="data.day === 'P'" style='float:left' > {{ data.name }} </p>
					<!--</span>-->
				</md-list-item>
					
				<md-list-item ng-if="data.day === 'H'" ng-click="make_absent(data.studentID)">
					<!--</span>
					<span ng-if="data.day === 'H'">-->
					 <img ng-if="data.day === 'H'" alt="name" ng-src="img/jon-snow2.jpg" class="md-avatar"/>
					<p  ng-if="data.day === 'H'" style='float:left'> {{ data.name }} <md-icon class="md-secondary" aria-label="Chat" md-svg-src="half" style='margin-top:-2px' ></md-icon></p><!--</span>-->
				<!--  </div> -->
				  </md-list-item>

				</md-list>
        </md-content>
	</md-tab>
	<md-tab label="ABSENT">
		<md-content>
				<md-list >
				 <md-list-item ng-repeat="datas in defaultData" ng-if="datas.day === 'A'" ng-click="make_present(datas.studentID)">
				<!-- <div ng-if="topping.status == 'Present'"> -->
					<!-- <img alt="name" ng-src="img/jon-snow.jpg" class="md-avatar" width="50px" style='float:left'/> -->
					<!--<span ng-if="datas.day === 'A'">-->
					 <img ng-if="datas.day === 'A'" alt="name" ng-src="{{baseurl}}/uploads/images/{{datas.photo}}" class="md-avatar"  width="50px" style='float:left'/>
					<p  ng-if="datas.day === 'A'" style='float:left'> {{ datas.name }} </p>
				<!--  </div>  </span>-->
				  </md-list-item>
				</md-list>
        </md-content>
	</md-tab>
</md-tabs>


</div>

	   
	
<style>
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused
{
    color: rgb(120, 162, 24);
}
</style>
    </ion-content><!--Menu dashboard section-->
</ion-view>



