<!--View Information-->
<!--View name : Events -->
<!--State name : app.events -->
<!--URL : #app/events -->

<ion-view title='Events'>
<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>

<!--right button on navigation bar-->
<ion-nav-buttons side="right">
	<!-- <i class="md-icon-button md-icon-button ion-nav-button-right ion-android-more-vertical md-button md-default-theme material-background" ng-click="showListBottomSheet($event)" style='font-size:25px'></i> -->
</ion-nav-buttons> 
<!--end right button on navigation bar-->


<ion-content id="news-feed-content" >
            

<md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="UPCOMING">
		<md-content>


              <md-list >
				 <md-list-item ng-repeat="data in datas"  ng-if="data.status === 'UPCOMING'" >	
					<div class="news-item">
					<div class="row detail" ng-click="popup(data.date,data.description,data.name,data.time)">
					<div class="col">

<div id="material-header-holder" >
  <div class="ui-datepicker-material-header">
    <div class="ui-datepicker-material-day">{{data.evt_day}}
    </div>
    <div class="ui-datepicker-material-date">
      <div class="ui-datepicker-material-month">{{data.evt_month}} {{data.evt_date}}
      </div>
      <div class="ui-datepicker-material-day-num" style="font-size:12px;color:grey"> {{data.evt_year}}
      </div> 
    </div>
  </div>
</div>
<div id="material-content" >
					
					<h1>{{data.name}}</h1>
					<p class="content">{{data.evt_datedisplay}} at {{data.time}}</p>
					</div>
					</div></div></div>
				  </md-list-item>
				</md-list>
        </md-content>
	</md-tab>
	<md-tab label="PAST">
		<md-content>
				<md-list >
					

				  <md-list-item  ng-repeat="data in datas" ng-if="data.status === 'PAST'"  class="noright">
					<div class="news-item">
					<div class="row detail"  ng-click="popup(data.date,data.description,data.name,data.time)">
					<div class="col">
<div id="material-header-holder" >
  <div class="ui-datepicker-material-header">
    <div class="ui-datepicker-material-day">{{data.evt_day}}
    </div>
    <div class="ui-datepicker-material-date">
      <div class="ui-datepicker-material-month">{{data.evt_month}} {{data.evt_date}}
      </div>
      <div class="ui-datepicker-material-day-num" style="font-size:12px;color:grey"> {{data.evt_year}}
      </div>
    </div>
  </div>
</div>
<div id="material-content" >					
					<h1>{{data.name}}</h1>
					<p class="content">{{data.evt_datedisplay}} at {{data.time}}</p>
                    </div>
					</div></div></div>
				  </md-list-item>

				</md-list>
        </md-content>
	</md-tab>
</md-tabs>


<style>
.ui-datepicker-material-day
{
    background: #78a218;
    color: #fff;
}
#material-header-holder
{
	width: 75px;
    float: left;
    border: 1px solid #131010;
    text-align: center;
    margin-right: 10px;
}
md-list-item.md-no-proxy, md-list-item .md-no-style
{
padding:0px;
}
#news-feed-content .news-item
{
margin-bottom:0px;
}
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
    color: #445a10;
}
md-tabs md-ink-bar {
color: #445a10;
    background: #445a10;
}
</style>

</ion-content><!--end news feed section-->


</ion-view>
