<!--View Information-->
<!--View name : Login-->
<!--State name : app.Login-->
<!--URL : #app/Login-->

<ion-view title="Sign In" hide-nav-bar="true">
    <!--left button on navigation bar-->
    <!--  <ion-nav-buttons side="left">
       <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a> -->
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--login content section-->
    <ion-content id="social-login" class="bg-white1 app_login">
        <!--fake login form section-->
		
        <form class="fakeLogin-form" style='background:#fff;opacity:0.9;margin-top:36%;padding-top:30px;padding-bottom:30px;margin-left:50px;margin-right:50px;'>
            <div class="sub-header"><img src="img/logo.png"/></div>
		   <div class="list"  style="text-align:center; color:white">
				<h4 style="color:white">  <a  href="#"  style="color:#000;text-decoration:none;"> Welcome to Teacher App  </a></h4>
		   </div>
		   <div id="fakeLogin">
                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="School ID" ng-model="login_modal.schoolid" id="schoolid"   name="schoolid" style='color: #000;border-bottom:1px solid #b1b1b1;'>
                </md-input-container>			
           </div>
           <div>
			<h4 style="color:white">  <a ng-click="loginsubmit(login_modal.schoolid)"  class="md-raised social-button md-button md-default-theme material-background" style='background-color : #445a10 !important;width:108px!important;min-width:0px!important'> REGISTER</a></h4>
		<!-- <p style="color:#66747a;padding-top:20px;font-size:13px;">App developed by <a href="http://tturk.in/" style="color:#0c60ee">NOVANEXT</a></p>
		-->   </div>
        </form> <!--end fake login form section-->


    </ion-content><!--end login content section-->
</ion-view>


