<!--View Information-->
<!--View name : leavedetails -->
<!--State name : app.leavedetails -->
<!--URL : #app/leavedetails -->

<ion-view title='Leave Details'>
<!--right button on navigation bar-->
<!--end right button on navigation bar-->




    <!--news feed section-->
    <ion-content id="news-feed-content">



        <div class="news-item">

            
<!-- <md-subheader class="md-warn">Leave Details</md-subheader> -->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>


        <!-- <div class="news-item" collection-repeat="data in datas">
<h2>{{data.name}}</h2>



</div> -->
						<div>
			

		<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="APPLIED" style="    color: #445a10;">
			<md-content>

<div ng-if="msg === '0'">
			<md-list>
			<md-list-item ng-repeat="data in datas" class="noright" ng-if="data.status == 'Empty'">

					<div class="row detail" >
							<div class="col">
								<a href="#" class="item item-avatar "  style="color:white;margin-bottom:5px;" ng-click="show(data.leaveID)">
								<img src="{{baseurl}}/uploads/images/{{data.photo}}" class="user-img" style='width:75px;height:75px'>
								<h2>{{data.name}}</h2>
								<h5>Roll No: {{data.studentID}}</h5>
								</a>
							</div>
						</div>
			</md-list-item>

				</md-list>
</div>
			</md-content>
		</md-tab>
		<md-tab label="APPROVED">
			<md-content>
<div ng-if="msg === '0'">
			<md-list>
			<md-list-item ng-repeat="data in datas" class="noright" ng-if="data.status == 'Approve'">

					<div class="row detail" >
							<div class="col">
								<a href="#" class="item item-avatar "  style="color:white;margin-bottom:5px;" ng-click="show(data.leaveID)">
								<img src="{{baseurl}}/uploads/images/{{data.photo}}" class="user-img" style='width:75px;height:75px'>
								<h2>{{data.name}}</h2>
								<h5>Roll No: {{data.studentID}}</h5>
								</a>
							</div>
						</div>
			</md-list-item>

				</md-list>
</div>
			</md-content>
		</md-tab>
		<md-tab label="DECLINED">
			<md-content>
<div ng-if="msg === '0'">
			<md-list>
			<md-list-item ng-repeat="data in datas" class="noright" ng-if="data.status == 'Reject'">

					<div class="row detail" >
							<div class="col">
								<a href="#" class="item item-avatar "  style="color:white;margin-bottom:5px;" ng-click="show(data.leaveID)">
								<img src="{{baseurl}}/uploads/images/{{data.photo}}" class="user-img" style='width:75px;height:75px'>
								<h2>{{data.name}}</h2>
								<h5>Roll No: {{data.studentID}}</h5>
								</a>
							</div>
						</div>
			</md-list-item>

				</md-list>
</div>
			</md-content>
		</md-tab>
		</md-tabs>
        </div>


        <div class="row"></div>
    </ion-content><!--end news feed section-->

    <!--button section-->
    <!-- <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div> -->
	<!--end button section-->

<style>
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused 
{
    color: #445a10;
}
md-tabs md-ink-bar {
color: #445a10;
    background: #445a10;
}
</style>
</ion-view>

 <script id="templates/leave.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive" style="background-color : #78a218!important;">
          <h1 class="title"></h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="row detail">
			<div class="col col-25"><h1 style="font-size: 14px">Student</h1></div><div class="col"><p class="content" style="font-size:14px;">{{single_data.name}}</p></div>
		</div>
          <div class="row detail">
			<div class="col col-25"><h1 style="font-size: 14px">Roll No</h1></div><div class="col"><p class="content" style="font-size:14px;">{{single_data.studentID}}</p></div>
		</div>
		<div class="row detail">
			<div class="col col-25"><h1 style="font-size: 14px">Date</h1></div><div class="col"><p class="content" style="font-size:14px;">{{single_data.from_date}} to {{single_data.to_date}}</p></div>
        </div>
		<div class="row detail">
			<div class="col col-25"><h1 style="font-size: 14px">Reason</h1></div><div class="col"><p class="content" style="font-size:14px;">{{single_data.reason}}</p></div>
		</div>
		<div class="row detail reject_box" style='display:none'>
		<textarea class="user-name" ng-model="reject_details" name="reject_details"  rows="5" columns="20" placeholder="Enter Reject Reason *" required           style="width: 100%;border: 1px solid #eee; padding: 10px;"></textarea>
		<span style="color:red">*Please enter the reject reason</span>
		</div>
		<div class="row detail" ng-if="single_data.status !== 'Empty'">
			<div class="col col-25"><h1 style="font-size: 14px">Status</h1></div><div class="col"><p class="content" style="font-size:14px;">{{single_data.status}}</p></div>
		</div>
		<div class="row detail" ng-if="single_data.reject_reason !== 'Empty'">
			<div class="col col-25"><h1 style="font-size: 14px">Reject reason</h1></div><div class="col"><p class="content" style="font-size:14px;">{{single_data.reject_reason}}</p></div>
		</div>
		<div class="row detail" ng-if="single_data.status === 'Empty'">
			<div class="col"><a class="md-raised md-button md-default-theme ionic-course-background" style="color:#fff" ng-click="leavefn(single_data.leaveID,'Approve')">Approve</a>
			<a class="md-raised md-button md-default-theme ionic-course-background" style="color:#fff;background-color: #f44336 !important;" ng-click="rejectleavefn(single_data.leaveID,'Reject',reject_details)">Reject</a></div>
		</div>
		
        </ion-content>
      </ion-modal-view>
    </script>
