<!--View Information-->
<!--View name : Notification-->
<!--State name : app.notification-->
<!--URL : #app/notification-->

<ion-view title='<img title="Leave Details">'>
<!--right button on navigation bar-->
<!--end right button on navigation bar-->




    <!--news feed section-->
    <ion-content id="news-feed-content">



        <div class="news-item">

            
<!-- <md-subheader class="md-warn">Leave Details</md-subheader> -->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classesID}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>


        <!-- <div class="news-item" collection-repeat="data in datas"> -->
			<div class="news-item">

			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="PENDING">
					<md-content>
						


					</md-content>
				</md-tab>
				<md-tab label="APPROVED">
					<md-content>
						<div collection-repeat="data in datas">
					
						<!--detail section-->
						<div class="row detail" >
							<div class="col">
								<a href="#" class="item item-avatar "  style="color:white;margin-bottom:5px;" ng-click="show(data.leaveID)">
								<img src="http://demoschool.tturk.in/uploads/images/{{data.photo}}" class="user-img" style='width:75px;height:75px'>
								<h2>{{data.name}}</h2>
								<h5>StudentID: {{data.studentID}}<span class="badge badge-assertive" ng-if="data.status == 'Empty'" style="float:right;margin-top:5px">New</span><span class="badge badge-assertive" ng-if="data.status == 'Approve'" style="background-color: #4CAF50 !important;float:right">Approved</span><span class="badge badge-assertive" style="float:right;background-color: #f44336 !important;" ng-if="data.status == 'Reject'" >Rejected</span></h5>
								</a>
							</div>
						</div><!--end detail section-->
						</div>
					</md-content>
				</md-tab>
				<md-tab label="DECLINED">
					<md-content>
						
					</md-content>
				</md-tab>
<br><br><br><br>


        </div>


        <div class="row"></div>
    </ion-content><!--end news feed section-->

    <!--button section-->
    <!-- <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div> -->
	<!--end button section-->
</ion-view>

 <script id="templates/leave.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive" style="background-color : #03b2fd!important;">
          <h1 class="title"></h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="row detail">
			<div class="col col-25"><h1 style="font-size: 14px">Student</h1></div><div class="col"><p class="content" style="font-size:14px;">{{single_data.name}}</p></div>
		</div>
          <div class="row detail">
			<div class="col col-25"><h1 style="font-size: 14px">Student ID</h1></div><div class="col"><p class="content" style="font-size:14px;">{{single_data.studentID}}</p></div>
		</div>
		<div class="row detail">
			<div class="col col-25"><h1 style="font-size: 14px">Date</h1></div><div class="col"><p class="content" style="font-size:14px;">{{single_data.from_date}} to {{single_data.to_date}}</p></div>
        </div>
		<div class="row detail">
			<div class="col col-25"><h1 style="font-size: 14px">Reason</h1></div><div class="col"><p class="content" style="font-size:14px;">{{single_data.reason}}</p></div>
		</div>
		<div class="row detail" ng-if="single_data.status !== 'Empty'">
			<div class="col col-25"><h1 style="font-size: 14px">Status</h1></div><div class="col"><p class="content" style="font-size:14px;">{{single_data.status}}</p></div>
		</div>
		<div class="row detail" ng-if="single_data.status === 'Empty'">
			<div class="col"><a class="md-raised md-button md-default-theme ionic-course-background" style="color:#fff" ng-click="status(single_data.leaveID,'Approve')">Approve</a>
			<a class="md-raised md-button md-default-theme ionic-course-background" style="color:#fff;background-color: #f44336 !important;" ng-click="status1(single_data.leaveID,'Reject')">Reject</a></div>
		</div>
		
        </ion-content>
      </ion-modal-view>
    </script>
