<!--View Information-->
<!--View name : library -->
<!--State name : app.library -->
<!--URL : #app/library -->

<ion-view title='Library'>
<!--right button on navigation bar-->
<!--end right button on navigation bar-->




    <!--news feed section-->
    <ion-content id="cube-feed-content">



        <div class="news-item">

            
<!-- <md-subheader class="md-warn">Leave Details</md-subheader> -->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>

	 <div style="margin-top: 1%;">

		<!--cube feed list section-->
        <div class="feed-list row" >
            <div class="col">
                <!--cube feed item section-->
                <div class="feed-item" style="border-radius: 10px;background: #749f1b;"  ng-click="call_issuedbook();" style="text-align: -webkit-center;">
                    <div class="feed-img">
                            <i class="fa fa-book track_bus"></i> <br><b>Book Issued</b> </div>
                    <div style="text-align: center;padding-bottom: 5px;">
                                  </div>
                </div>
                <!--end cube feed item section-->
            </div>
			<div class="col">
                <!--cube feed item section-->
				<div class="feed-item" style="border-radius: 10px;background: #ff6c60;" ng-click="call_returnedbook();">
                    <div class="feed-img" >
					<!-- <img class="user-img" src="img/book_return.png" > -->
                            <i class="fa fa-retweet track_bus"></i>  <br><b>Book Returned</b> </div>
                   <div style="text-align: center;padding-bottom: 5px;">
                      
                    </div>
                </div>
				<!--end cube feed item section-->
            </div>
            
        </div><!--end cube feed list section-->

		<div class="feed-list row">
            <div class="col">
                <!--cube feed item section-->
                <div class="feed-item" style="border-radius: 10px;background: #00baf2;"  ng-click="call_requestbook();">
                    <div class="feed-img" >
                            <i class="fa fa-pencil-square-o track_bus"></i> <br><b>Request Book</b></div>
                    <div style="text-align: center;padding-bottom: 5px;">
                       
                    </div>
                </div>
                <!--end cube feed item section-->
            </div>
            <div class="col">
                <!--cube feed item section-->
                
                <div class="feed-item" style="border-radius: 10px;background: #ffc900;" ng-click="call_reservebook();">
                    <div class="feed-img" >
                            <i class="fa fa-calendar track_bus"></i> <br><b>Reserve Book</b> </div>
                   <div style="text-align: center;padding-bottom: 5px;">
                      
                    </div>
                </div>
                <!--end cube feed item section-->
            </div>
        </div>
        </div><!--end cube feed list section-->

</div>

        <!-- <div class="row"></div> -->
    </ion-content><!--end news feed section-->

    

<style>
.feed-item
{
text-align: -webkit-center;
}
.feed-img
{
	text-align: center;
    /* padding-top: 27px; */
    height: 80px;
    /* padding-bottom: 27px; */
    /* text-align: -webkit-center; */
    display: table-cell;
    vertical-align: middle;
}
</style>
</ion-view>

 
