<!--View Information-->
<!--View name : Login-->
<!--State name : app.Login-->
<!--URL : #app/Login-->

<ion-view title="Sign In" hide-nav-bar="true">
    <!--left button on navigation bar-->
    <!--  <ion-nav-buttons side="left">
       <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a> -->
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--login content section-->
    <ion-content id="social-login" class="bg-white1 app_login">
        <!--fake login form section-->
		
        <form class="fakeLogin-form" style='background:#fff;opacity:0.9;margin-top:36%;padding-top:30px;padding-bottom:30px;margin-left:50px;margin-right:50px;'>
            <div>
                <img src="img/logo.png"/>
            </div>
           <!-- <div class="sub-header" style='color: #000;'><B>TTURK</B></div>--><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/ng-template" >
$scope.$on("$ionicView.loaded", function() {
    // your code
	alert('Start');
}

$( document ).ready(function() {

$scope.$on("$ionicView.loaded", function() {
    // your code
	alert('Start');
}

alert('Start');
});
</script>
          
            </div> -->
            <div>
               <!--  <a ng-click="loginsubmit(username,password)" class="md-raised social-button md-button md-default-theme material-background">
                    Log In
                </a> -->
				<div class="list"  style="text-align:center; color:#000">
				<div class="sub-header" style="color: #445a10;letter-spacing: 2px;"><B>{{schoolname}}</B></div> 

				<!-- <h4 style="color:#000">  <a  href="#"  style="color:#000;text-decoration:none;"> {{schoolname}} </a></h4> -->
          <h4 style="color:#000">  <a  href="#"  style="color:#000;text-decoration:none;"> Tap Your Card to Login </a></h4>
		  or
		  <h4 style="color:white">  <a ng-click="login()"  class="md-raised social-button md-button md-default-theme material-background" style='background-color : #445a10 !important;width:108px!important;min-width:0px!important'> Click here to Login</a></h4>
	<!-- 	  <p style="color:#66747a;padding-top:20px;font-size:13px;">App developed by <a href="http://tturk.in/" style="color:#0c60ee">NOVANEXT</a></p>
      -->  </div>

				
            </div>
        </form> <!--end fake login form section-->


    </ion-content><!--end login content section-->
</ion-view>


