<!--View Information-->
<!--View name : library -->
<!--State name : app.library -->
<!--URL : #app/library -->

<ion-view title='Attendance'>
    <!--right button on navigation bar-->
    <!--end right button on navigation bar-->
    
        <!--news feed section-->
        <ion-content id="cube-feed-content">
    
            <div class="news-item">
    
                
    <!-- <md-subheader class="md-warn">Leave Details</md-subheader> -->
    
      
    
         <div style="margin-top: 1%;">
    
            <!--cube feed list section-->
            <div class="feed-list row" >
                <div class="col">
                    <!--cube feed item section-->
                    <div class="feed-item" style="border-radius: 10px;background: #749f1b;"  ng-click="manual();" style="text-align: -webkit-center;">
                        <div class="feed-img">
                                <i class="fa fa-book track_bus"></i> <br><b>Manual</b> </div>
                        <div style="text-align: center;padding-bottom: 5px;">
                                      </div>
                    </div>
                    <!--end cube feed item section-->
                </div>
                <div class="col">
                    <!--cube feed item section-->
                    <div class="feed-item" style="border-radius: 10px;background: #ff6c60;" ng-click="automatic();">
                        <div class="feed-img" >
                        <!-- <img class="user-img" src="img/book_return.png" > -->
                                <i class="fa fa-retweet track_bus"></i>  <br><b>Automatic</b> </div>
                       <div style="text-align: center;padding-bottom: 5px;">
                          
                        </div>
                    </div>
                    <!--end cube feed item section-->
                </div>
                
            </div><!--end cube feed list section-->
    
          
            </div><!--end cube feed list section-->
    
    </div>
    
            <!-- <div class="row"></div> -->
        </ion-content><!--end news feed section-->
    
        
    
    <style>
    .feed-item
    {
    text-align: -webkit-center;
    }
    .feed-img
    {
        text-align: center;
        /* padding-top: 27px; */
        height: 80px;
        /* padding-bottom: 27px; */
        /* text-align: -webkit-center; */
        display: table-cell;
        vertical-align: middle;
    }
    </style>
    </ion-view>
    
     
    