<!--View Information-->
<!--View name : Mark Attendance -->
<!--Controller name : mark_attendance -->
<!-- Controller path : www/js/controllers.js-->
<!--State name : app.mark_attendance -->
<!--URL : #app/mark_attendance-->

<ion-view title='Manual Attendance'>

	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()">
		</button>
	</ion-nav-buttons>
	
	<!--right button on navigation bar-->
	<ion-nav-buttons side="right">
		<!-- <i class="md-icon-button md-icon-button ion-nav-button-right ion-loop md-button md-default-theme material-background" ng-click="reloadPage()" style='font-size:30px'></i> -->
		<i class="icon ion-loop" class="md-button md-accent md-fab fab-toolbar-medium" style="float: right;width: 46px;height: 31px;padding-right: 10px;
		font-size: 30px;    padding-top: 3px;" aria-label="Add"  ng-click="reloadPage()"></i>
	</ion-nav-buttons> 
	<!--end right button on navigation bar-->
	
		<!--menu dashboard section-->
		<ion-content id="menu-dashboard-content">
	
			<div class="row" style="background-color: #445a10;    padding-top: 0px;">
			 <div class="col-33" style="float:left;padding-left: 10px;">
				 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
							<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
				 </md-select>
			 </div>
			 <div class="col-33" style="float:left">
				 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
							<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
				 </md-select>
			 </div>
			 <div class="col-33" style="float:left">
				<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
			 </div>																					
		 </div>
	
		<!-- <md-subheader class="md-warn">Mark Attendance</md-subheader> -->
			<!--panel section-->
	<!-- <h2 class="md-warn md-subheader md-default-theme" style="background-color: #042e6f; padding: 0px!important; height: 25px;"><div class="md-subheader-inner" style="padding-top:6px!important;"><span style="float: left;font-size:13px;">Class : {{classname}} - {{sectionname}}</span><span style="float: right;padding-right:10px;font-size:13px;">{{date | date:'dd-MM-yyyy'}}</span><span class="md-button md-accent md-fab fab-toolbar-medium" style="float: right;margin-right: -107px;margin-top: -52px;width: 46px;height: 31px;padding: 9px;" aria-label="Add"  ng-click="reloadPage()"><i class="icon ion-loop" style="width:36px;height:36px;"></i></span></div></h2> -->
	<!--
	<a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>{{date | date:'dd-MM-yyyy'}}</a>
	<a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>CLS : {{classname}} - {{sectionname}}</a>
	<a href="" ng-click="showGridBottomSheet($event)" class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>STRENGTH</a>-->
	<div align='center'  class='transaction_warning'></div>
	<br>
	
	<div class="transaction_content" style=''>


<div class="row" style="background-color: #445a10;    padding-top: -10px;"  ng-if="attendanceperDay === '2'" >
	<div class="col-50" style="float:left;padding-left: 10px;">
		<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">Select Session</span>
	</div>
	<div class="col-50" style="float:left;padding-left: 10px;background-color: #445a10;   padding-top: 0px;"  ng-if="attendanceperDay === '2'"  >
		<md-select ng-model="selectSession" placeholder="Morning" aria-label="md-option"n ng-change="session(selectSession)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
		  
				 <md-option  value="1"  ><span style="color:#000000; background: #fff"></span>Morning</md-option>
				 <md-option  value="2" ><span style="color:#000000">Afternoon</md-option>
		</md-select>  
	</div>																			
</div>
	
	<!-- <div align="center" ng-if="noti === '0'"><h5 style="color:#f00" class="attn_warn">Morning attendance marked today...!!!</h5></div> -->
		<div class="row" >
		<div class="col-70"><div align="center"><h5 style="color:#f00" class="attn_warn"></h5></div>
	</div> 
		<div class="col-30"  ng-if="editable === '1'">
		<a ng-click="edit()" class="md-raised md-button md-default-theme material-background" style='text-align:center;color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px;background-color:#445a10 !important'>Edit</a>
		</div> 
		</div>
	
		<md-list  ng-if="noti === '1'">
		  <md-list-item  ng-if="presents_length != 0">
		   <md-checkbox class="md-secondary1 md-default-theme" aria-label="Select All" ng-checked="isChecked1()" md-indeterminate="isIndeterminate1()" ng-click="toggleAll1()"></md-checkbox>
		   <p><span ng-if="isChecked1()">Un-</span>Select All</p>
		   </md-list-item>
		  <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in presents">
		  <md-list-item  class="noright1" style='width:100%'>
			<md-checkbox  aria-label="Select All"   ng-click="toggle1(item, selected1)" style='float:right' align='right'   ng-model="item.status=='A'">
			</md-checkbox>   {{item.studentID}}  {{ item.name }}  {{item.status}}
  <!--	 <span style='width:50%;float:right'>
			<img alt="name" ng-src="img/jon-snow.jpg" class="md-avatar" style='float:right;width:30px;radius:15px' align='right'/>
			</span>-->
			</md-list-item> 
		  </div>
		  </md-list>
	
	<!--  <code style="display: block; padding: 8px;">{{selected1 | json}}{{studentID1 | json}}</code> 

	-->
	
	<div class="row"  ng-if="noti === '1'">
	<div class="col-33"></div> 
	<div class="col-33">
	<a ng-click="mark_attendance()" ng-disabled="isDisabled" class="md-raised md-button md-default-theme material-background" style='text-align:center;color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px;background-color:#445a10 !important'>Submit</a>
	</div> 
	<div class="col-33"></div> 
	</div>
	
	</div>
	<style>
	.checkboxdemoSelectAll .demo-legend {
	  color: #3F51B5; }
	
	.checkboxdemoSelectAll .demo-fieldset {
	  border-style: solid;
	  border-width: 1px;
	  height: 100%; }
	
	.checkboxdemoSelectAll .demo-select-all-checkboxes {
	  padding-left: 30px; }
	  </style>
		</ion-content><!--Menu dashboard section-->
	</ion-view>
	
	<script type="text/ng-template" id="ui-list-bottom-sheet-template">
		<md-bottom-sheet class="md-list md-has-header">
			<h1 class="md-bottom-sheet-header">List Bottom Sheet</h1>
			<!--list section-->
			<md-list>
				<md-list-item>
					<a class="md-default-theme md-bottom-sheet-list-item"
					   ng-click="closeListBottomSheet()">
						<i class="ion-android-call"></i>
						<span>Actions 1</span>
					</a>
				</md-list-item>
				<md-list-item>
					<a class="md-default-theme md-bottom-sheet-list-item"
					   ng-click="closeListBottomSheet()">
						<i class="ion-android-list"></i>
						<span>Actions 2</span>
					</a>
				</md-list-item>
				<md-list-item>
					<a class="md-default-theme md-bottom-sheet-list-item"
					   ng-click="closeListBottomSheet()">
						<i class="ion-android-delete"></i>
						<span>Actions 3</span>
					</a>
				</md-list-item>
			</md-list>
	
			<!--end list section-->
		</md-bottom-sheet>
	</script>
	
	
	<script type="text/ng-template" id="ui-grid-bottom-sheet-template">
		<md-bottom-sheet class="md-grid">
			<!--list section-->
			<md-list id="bottom-sheet-grid-md-list">
				<md-list-item>
					<a class="md-grid-item-content" ng-click="closeListBottomSheet()">
					   
						<a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>{{totalstrength}}</a>
						 <div class="md-grid-text1" style="text-align:center;font-weight:600;letter-spacing:1px;padding:0px 10px"> TOTAL</div>
						
					</a>
				</md-list-item>
				<md-list-item>
					<a class="md-grid-item-content" ng-click="closeListBottomSheet()">
						<a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>{{presentstrength}}</a>
						 <div class="md-grid-text1" style="text-align:center;font-weight:600;letter-spacing:1px;padding:0px 10px"> PRESENT</div>
					</a>
				</md-list-item>
				<md-list-item>
					<a class="md-grid-item-content" ng-click="closeListBottomSheet()">
						<a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>{{absentstrength}}</a>
						 <div class="md-grid-text1" style="text-align:center;font-weight:600;letter-spacing:1px;padding:0px 10px"> ABSENT</div>
					</a>
				</md-list-item>
	
			</md-list>
			<!--end list section-->
		</md-bottom-sheet>
	</script>