<!--View Information-->
<!--View name : Menu-->
<!--Controller name : menuCtrl-->
<!--Controller path : www/templates/menu/js/controllers.js-->
<!--State name : app-->
<!--URL : #app-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->
            <div class="menu-left-header">
                <img class="user-img" src="{{baseurl}}/uploads/images/{{staffphoto}}" style="float:left;margin-right:20px">

                <p>
                    <span class="title">{{ name }}</span>
                    <br/>
                    <span class="sub-title">Teacher Id : {{ teacherID }}</span>
					<br/>
                    <span class="sub-title">{{ schoolname }}</span>
                </p>
            </div><!--end menu header section-->
        </div> <!--menu content section-->
        <ion-content id="toggle-menu-left-content">





            <!--If device is android application will present below code.-->
            <!--It will disable animation to better performance on android.-->
            <!--list section-->
            <div ng-if="isAndroid" class="menu-list">
                
				<!-- <md-subheader class="md-warn">Application Menu</md-subheader> -->
				<div class="row menu-item"  ng-click="navigateTo('app.dashboard')">
                    <div class="col-33">
                        <i class="fa fa-th-list"></i>
                    </div>
                    <div class="col-66">
                        <span>Dashboard</span>
                    </div>
                </div>
                <!-- <div class="row menu-item"  ng-click="navigateTo('app.selectclass')">
                    <div class="col-33">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="col-66">
                        <span>Select Class</span>
                    </div>
                </div> --> <div class="row menu-item"  ng-click="navigateTo('app.timetable')">
                    <div class="col-33">
                        <i class="fa fa-server"></i>
                    </div>
                    <div class="col-66">
                        <span>TimeTable</span>
                    </div>
                </div>
                 <div class="row menu-item" ng-click="navigateTo('app.mark')">
                    <div class="col-33">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="col-66">
                        <span>Mark Attendance</span>
                    </div>
                </div> 
                 <div class="row menu-item editcss" ng-click="navigateTo('app.edit_attendance')" style="display:none">
                    <div class="col-33">
                        <i class="fa fa-edit"></i>
                    </div>
                    <div class="col-66">
                        <span>Edit Attendance</span>
                    </div>
                </div> 
				<div class="row menu-item" ng-click="navigateTo('app.view_attendance')">
                    <div class="col-33">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="col-66">
                        <span>View Attendance</span>
                    </div>
                </div>
				<div class="row menu-item" ng-click="navigateTo('app.assignment')">
                    <div class="col-33">
                        <i class="fa fa-edit"></i>
                    </div>
                    <div class="col-66">
                        <span>Assignment</span>
                    </div>
                </div>
				<div class="row menu-item" ng-click="navigateTo('app.view_assignment')">
                    <div class="col-33">
                        <i class="fa fa-info"></i>
                    </div>
                    <div class="col-66">
                        <span>View Assignment</span>
                    </div>
                </div>
				<div class="row menu-item" ng-click="navigateTo('app.library')">
                    <div class="col-33">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="col-66">
                        <span>Library</span>
                    </div>
                </div>
				<div class="row menu-item" ng-click="navigateTo('app.leavedetails')">
                    <div class="col-33">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="col-66">
                        <span>Leave Details</span>
                    </div>
                </div>
			<!--	<div class="row menu-item" ng-click="navigateTo('app.noticeboard')">
                    <div class="col-33">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <div class="col-66">
                        <span>Events</span>
                    </div>
                </div>
				-->
				<!--<div class="row menu-item" ng-click="navigateTo('app.setting')">
                    <div class="col-33">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="col-66">
                        <span>Settings</span>
                    </div>
                </div> -->
				<div class="row menu-item" ng-click="navigateTo('app.logout')">
                    <div class="col-33">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="col-66">
                        <span>Log out</span>
                    </div>
                </div>


				
				
				
				
            </div>


            <!--If device is not Android application will present below code.-->
            <!--It will show animation when selecting row.-->
            <md-list ng-if="!isAndroid">
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.dashboard')">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </md-list-item>
                <!-- <md-list-item class="menu-list-item" ng-click="navigateTo('app.selectclass')">
                    <i class="fa  fa-check-square-o"></i>
                    <span>Select Class</span>
                </md-list-item> -->
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.timetable')">
                    <i class="fa fa-server"></i>
                    <span>TimeTable</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.mark')">
                    <i class="fa fa-check-square-o"></i>
                    <span>Mark Attendance</span>
                </md-list-item>
				<md-list-item class="menu-list-item editcss" ng-click="navigateTo('app.edit_attendance')"  style="display:none">
                    <i class="fa fa-edit"></i>
                    <span>Edit Attendance</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.view_attendance')">
                    <i class="fa fa-eye"></i>
                    <span>View Attendance</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.assignment')">
                    <i class="fa fa-edit"></i>
                    <span>Assignment</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.view_assignment')">
                    <i class="fa fa-info"></i>
                    <span>View Assignment</span>
                </md-list-item>
				<md-list-item class="menu-list-item" ng-click="navigateTo('app.library')">
                    <i class="fa fa-book"></i>
                    <span>Library</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.leavedetails')">
                    <i class="fa fa-envelope"></i>
                    <span>Leave Details</span>
                </md-list-item>
				<!-- <md-list-item class="menu-list-item" ng-click="navigateTo('app.noticeboard')">
                    <i class="fa fa-bullhorn"></i>
                    <span>Notice board</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.setting')">
                    <i class="fa fa-wifi"></i>
                    <span>Notification</span>
                </md-list-item> 
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.login')">
                    <i class="fa fa-lock"></i>
                    <span>Log out</span>
                </md-list-item>-->
				<md-list-item class="menu-list-item" ng-click="navigateTo('app.logout')">
                    <i class="fa fa-lock"></i>
                    <span>Log out</span>
                </md-list-item>
            </md-list>
            <!--end list section-->
        </ion-content><!--end menu content section-->
        <!--end menu section-->

    </md-sidenav>
</ion-side-menus>
