<!--View Information-->
<!--View name : Notice Board -->
<!--State name : app.noticeboard -->
<!--URL : #app/noticeboard -->

<!--Online course section-->

<ion-view title='Notice Board'>

	

<!--cube feed section-->
    <ion-content id="cube-feed-content">
	<div style="margin-top: 10%;">
        <!--cube feed list section-->
        <div class="feed-list row" >
            <div class="col">
                <!--cube feed item section-->
                <div class="feed-item" style="border-radius: 10px;"  ng-click="call_events();">
                    <div class="feed-img" style="text-align: center;padding-top: 27px;height: 80px;padding-bottom:27px">
                            <i class="fa fa-calendar track_bus"><!-- <sup class="badge badge-assertive" style="background-color: #78a218 !important;top: -1.5em;right: 1px;">0</sup> --></i> <br><b>Events</b> </div>
                    <div style="text-align: center;padding-bottom: 5px;">
                                  </div>
                </div>
                <!--end cube feed item section-->
            </div>
			<div class="col">
                <!--cube feed item section-->
				<div class="feed-item" style="border-radius: 10px;" ng-click="call_achievements();">
                    <div class="feed-img" style="text-align: center;padding-top: 27px;height: 80px;padding-bottom:27px">
                            <i class="fa fa-trophy track_bus"><!-- <sup class="badge badge-assertive" style="background-color: #78a218 !important;top: -1.5em;right: 1px;">0</sup> --></i> <br><b>Achievements</b> </div>
                   <div style="text-align: center;padding-bottom: 5px;">
                      
                    </div>
                </div>
				<!--end cube feed item section-->
            </div>
            
        </div><!--end cube feed list section-->

		<div class="feed-list row">
            <div class="col">
                <!--cube feed item section-->
                <div class="feed-item" style="border-radius: 10px;"  ng-click="call_circulars();">
                    <div class="feed-img" style="text-align: center;padding-top: 27px;height: 80px;padding-bottom:27px">
                            <i class="fa fa-pencil-square-o track_bus"><!-- <sup class="badge badge-assertive" style="background-color: #78a218 !important;top: -1.5em;right: 1px;">0</sup> --></i> <br><b>Circular</b></div>
                    <div style="text-align: center;padding-bottom: 5px;">
                       
                    </div>
                </div>
                <!--end cube feed item section-->
            </div>
            <div class="col">
                <!--cube feed item section-->
                
                <div class="feed-item" style="border-radius: 10px;" ng-click="navigateTo('app.view_assignment')">
                    <div class="feed-img" style="text-align: center;padding-top: 27px;height: 80px;padding-bottom:27px">
                            <i class="fa fa-eye track_bus"><!-- <sup class="badge badge-assertive" style="background-color: #78a218 !important;top: -1.5em;right: 1px;">12</sup> --></i> <br><b>Assignment</b> </div>
                   <div style="text-align: center;padding-bottom: 5px;">
                      
                    </div>
                </div>
                <!--end cube feed item section-->
            </div>
        </div>
        </div><!--end cube feed list section-->

<div class="course-item col" style="margin-top:5px;margin-bottom:15px;padding: 0px 5px 0px 5px;">

         <div class="content col-33" style="border-top: 0px;border: 1px solid #fff;border-radius: 0px;width: 100%;float:left;background: #749f1b;">
					<div class="row price-detail" style="padding: 0px">
						<div class="col"> 
							<h1 style="font-size: 14px;padding:5px;text-align: -webkit-center;color:#fff">Present</h1>
							<h1 style="font-size: 18px;padding:5px;text-align: -webkit-center;color:#fff;">
								{{presentstrength}}
							</h1> 
						</div>
					</div>
          </div>

		  <div class="content col-33" style="border-top: 0px;border: 1px solid #fff;border-radius: 0px;float:left;width: 100%;background: #f29ec4;">
					<div class="row price-detail" style="padding: 0px">
						<div class="col"> 
							<h1 style="font-size: 14px;padding:5px;text-align: -webkit-center;color:#fff">Absent</h1>
							<h1 style="font-size: 18px;padding:5px;text-align: -webkit-center;color:#fff;">
								{{absentstrength}}
							</h1> 
						</div>
					</div>
          </div>

		  <div class="content col-33" style="border-top: 0px;border: 1px solid #fff;border-radius: 0px;width: 100%;float:left;background: #00baf2;">
					<div class="row price-detail" style="padding: 0px">
						<div class="col"> 
							<h1 style="font-size: 14px;padding:5px;text-align: -webkit-center;color:#fff">Total</h1>
							<h1 style="font-size: 18px;padding:5px;text-align: -webkit-center;color:#fff;">
								{{totalstrength}}
							</h1> 
						</div>
					</div>
          </div>
    </div> 
		
    </ion-content><!--end cube feed section-->

</ion-view>
