<!--View Information-->
<!--View name : profile-->
<!--State name : app.profile-->
<!--URL : #app/profile-->

<!--Online course section-->
<ion-view title='<img src="img/logo_75_33.png">' id="online-course">
<!--right button on navigation bar-->
<!-- <ion-nav-buttons side="right">
	<i class="md-icon-button md-icon-button ion-nav-button-right ion-android-more-vertical md-button md-default-theme material-background" ng-click="showListBottomSheet($event)" style='font-size:25px'></i>
</ion-nav-buttons>  -->
<!--end right button on navigation bar-->

    <ion-content id="online-course-content">
        <!--toolbar section-->
        <md-toolbar class="bar-subheader md-tall md-primary toolbar-online-course ">
            <div>
                <img src="img/jon-snow.jpg" class="user-img"/>

                <h1>{{ vendorname }}</h1>

                <h2>Vendor Id : {{ vendorID }}</h2>
            </div>

        </md-toolbar> <!--end toolbar section-->

       <md-subheader class="md-warn">Vendor Profile</md-subheader>
		<div class="list animate-fade-slide-in-right">
		<div class="list">

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-person"></i>
    Short Name
	<span class="badge badge-assertive">{{ vendorshortname }}</span>
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-calendar"></i>
    DOB
	<span class="badge badge-assertive">{{ dob }}</span>
  </a>
	
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-ios-pulse-strong"></i>
    Blood Group
	<span class="badge badge-assertive">{{ blood_group }}</span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-people"></i>
    Sex
    <span class="badge badge-assertive">{{ sex }}</span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-call"></i>
   Phone No
    <span class="badge badge-assertive">{{ phone }}</span>
  </a>

  <a class="item item-icon-left" href="#">
   <i class="icon ion-email"></i>
    Email
    <span class="badge badge-assertive">{{ email }}</span>
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-android-pin"></i>
    Address
    <span class="badge badge-assertive">{{ address }}</span>
  </a>


</div>
           
        </div>

     
    </ion-content>
   <!--  <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion-android-star"></i>
        </a>
    </div> -->

</ion-view><!--end online course section-->