<!--View Information-->
<!--View name : Register-->
<!--State name : app.register-->
<!--URL : #app/register-->

<ion-view title="Register">
<!-- <style>
.bar .buttons .hide { display:none !important; }
</style> -->
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" href="#/app/login"  class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--social sign up section-->
    <ion-content id="social-sign-up-content" class='app_login'>
        <div class="app-icon">
            <img src="img/app_icon.png" class="md-card-image">
        </div>
        <!--input section-->
		                <div class='col-33 leftfloat scss' >Student Name </div><div class='col-20 leftfloat scss' >:</div><div class='col-33 leftfloat scss' >       {{ studentname }} ( {{ studentid }} )</div><br><br><br>
						 <!-- <div class='col-33 leftfloat scss' >Student Id </div><div class='col-20 leftfloat scss' >:</div><div class='col-33 leftfloat scss' >987979</div><br><br><br> -->
        <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="Name" ng-model="pname" id="pname" name="pname">
            </div>
        </md-input-container>
		<md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="Relation" ng-model="relation" id="relation" name="relation">
            </div>
        </md-input-container>
		<md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="Username" ng-model="username" id="username" name="username">
            </div>
        </md-input-container>
		<md-input-container md-no-float="">
            <div>
				<input  class="user-name" placeholder="Token ID" ng-model="tokenid" id="tokenid" name="tokenid">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input type="password" class="user-name" placeholder="Password" ng-model="password" id="password" name="password">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input type="password" class="user-name" placeholder="Confirm Password" ng-model="cpassword" id="cpassword" name="cpassword">
            </div>
        </md-input-container>
        
        <md-checkbox aria-label="CheckboxTerms">
            I accept terms and conditions.
        </md-checkbox>
        <!--end input section-->
        <a ng-click="submitform(pname,relation,tokenid,username,password)" class="md-raised social-button md-button md-default-theme material-background">
            Register
        </a>

    </ion-content><!--end social sign up section-->
</ion-view>