<!--View Information-->
<!--View name : book_search -->
<!--State name : app.book_search -->
<!--URL : #app/book_search -->

<ion-view title='Search Assignment'>
<!--right button on navigation bar-->
<!--end right button on navigation bar-->

<ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
 </ion-nav-buttons>


    <!--news feed section-->
    <ion-content id="news-feed-content">



        <div class="news-item">

            
<!-- <md-subheader class="md-warn">Leave Details</md-subheader> -->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>

<div class="reserve_div" style="">
			
<form name="myForm1" novalidate style='padding:0px;background:#fff;min-height:70px' id="social-sign-up-content">
	
                
               
        <!--input section-->
       <div class="col"> 
		
        <div class="col col-66"  style="float: left;">
		<md-input-container md-no-float="" style="padding-bottom: 5px;">
                <input type="date" class="user-name" id="assignment_date" name="assignment_date" ng-model="assignment_date" value="{{date | date:'DD-MMM-YYYY'}}"  required  style="color: rgb(0, 0, 0);border-bottom: 1px solid rgb(177, 177, 177);    background: #f6f6f6;    text-align: center;">
				
            
			
				<!-- <p style="color:#042e6f" ng-show="submitted">{{errMessage}}</p> -->
        </md-input-container>
		<p style="color:#042e6f;padding-left: 10px;" ng-show="submitted&&myForm1.assignment_date.$error.required">* Date is required</p>
		</div>
		
		<div class="col col-34" style="float: left;">
		<!-- <input type="text" name="s_date" ng-model="s_date" value="{{s_date}}"  /> -->
        <!--end input section-->
        <a ng-click="datesubmit(assignment_date);submitted=true;"  class="md-raised social-button md-button md-default-theme material-background" style='background-color : #445a10 !important;width: 90%;'>
            Search
        </a>
		</div>

		</div>
</form>




<div ng-if="msg === '0'">


				<!-- <a ng-click="predatesubmit(assignment_date);submitted=true;"  class="md-raised social-button md-button md-default-theme material-background" style='background-color : #445a10 !important;width: 44%;'> Previous </a>

				<a ng-click="nextdatesubmit(assignment_date);submitted=true;"  class="md-raised social-button md-button md-default-theme material-background" style='background-color : #445a10 !important;width: 44%;'> Next </a> -->


	<div collection-repeat="data in data_assn" class="lopcls1" ng-bind-html-unsafe="data.content">
		<div class="lopcls spaceclr{{$index+1}}" style="    margin-left: 0px;">
			<span  ng-if="data.type  === 'Specific'"><i class="icon ion-android-contact assn_icon"></i></span>
			<span  ng-if="data.type  === 'All'"><i class="icon ion-android-contacts assn_icon"></i></span>
			<div style="" class="lopcontnt"  ng-click="show(data.assn_id)">
				<span style="font-size: 13px;font-style: italic;color:#445a10;" class="">
				{{data.subject_name}}
				<span  ng-if="data.type  === 'All'"  style="float: right;margin-right: 10px;">All Students</span>
				<span  ng-if="data.type  === 'Specific'"><span style="float: right;margin-right: 10px;">{{data.name}} (ID : {{data.studentID}})</span></span>
				</span>
				<br><p style="text-align:justify;padding-top: 5px;"> {{data.shortcontent | limitTo:60}}...</p><!-- | htmlToPlaintext -->
			</div>
		</div>
	</div>
</div>
<div ng-if="msg === '1'">
	

	<!-- <a ng-click="predatesubmit(assignment_date);submitted=true;"  class="md-raised social-button md-button md-default-theme material-background" style='background-color : #445a10 !important;width: 44%;'> Previous </a>

				<a ng-click="nextdatesubmit(assignment_date);submitted=true;"  class="md-raised social-button md-button md-default-theme material-background" style='background-color : #445a10 !important;width: 44%;'> Next </a> -->

<h4 align="center">No Assignment Today...!!!</h4>
</div>

		
</div>


        <!-- <div class="row"></div> -->
    </ion-content><!--end news feed section-->

    <!--button section-->
    <!-- <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion ion-plus"></i>
        </a>
    </div> -->
	<!--end button section-->

<style>
#news-feed-content .news-item
{
background-color:transparent !important;
}
.lopcls1
{
    border-bottom: 0px solid grey !important;
}
.ui-datepicker-material-day
{
background:    rgba(0,0,0,0.87);
}
.ui-datepicker-material-header .active
{
background : rgb(120, 162, 24);
}
.assn_icon
{
	float: left;
    color: #202020;
    font-size: 30px;
    padding: 5px;
    padding-top: 15px;
}
</style>
</ion-view>

<script id="templates/modal.html" type="text/ng-template">
	<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive" style="background-color : #78a218 !important;">
          <h1 class="title">View Assignment</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
        </ion-header-bar>
        <ion-content class="padding">

		<div class="row detail">
			<div align="left" class="col col-50"><p style="font-size: 14px">Date : {{single_data.date}}</p></div>
			<div align="right" class="col col-50"><p style="font-size: 14px">
				<span  ng-if="single_data.type  === 'Specific'">{{single_data.studentname}} ( ID : {{single_data.studentID}} ) </span>
				<span  ng-if="single_data.type  === 'All'">All</span>
			</p></div>
		</div>

		<div class="row detail">
			<div align="left" class="col col-50"><p style="font-size: 14px">Subject : {{single_data.subject_name}}</p></div>
			<div align="right" class="col col-50"><p style="font-size: 14px">Class : {{single_data.classname}} - {{single_data.sectionname}}</p></div>
		</div>

	<div class="row detail">
			<div class="col col-25"><h1 style="font-size: 14px;margin: 4px 2px;">File</h1>
			</div>
			<div class="col"><a class="content" style="font-size:14px;">{{single_data.file}}</a>
				<button ng-if="filefound== '1'"  ng-click="download()"  type="button" style="background-color: #4CAF50;
				border: none;
				color: white;
				padding: 7px ;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;">View</button>
			
				<input ng-click="redirect()" name="View" value="View" style="margin-left:5px;background-color: #4CAF50;
				border: none;
				color: white;
				padding: 7px ;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;" type="hidden">
			</div>
		</div>
		<div class="row detail">
			<div class="col"><p style="font-size: 14px">Assignment</p></div>
		</div>
		<div class="row detail">
			<div class="col"><p class="content" id="content" style="font-size:14px;text-align:justify" ></p>
			
			<!-- <p class="content" style="font-size:14px;text-align:justify">{{single_data.content | renderHTMLCorrectly}}</p> --></div>
		</div>
		
        </ion-content>
      </ion-modal-view>
</script>

 
