<!--View Information-->
<!--View name : Dashboard-->
<!--Controller name : dashboardCtrl-->
<!--Controller path : www/js/controllers.js-->
<!--State name : app.dashboard-->
<!--URL : #app/dashboard-->

<ion-view view-title='<img src="img/logo_75_33.png">' >
<!-- <style>
.bar .buttons .hide { display:block !important; }	
</style> -->
<ion-nav-buttons side="left">
	<button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()">
	</button>
</ion-nav-buttons>

<!--right button on navigation bar-->
<!--<ion-nav-buttons side="right">
	<i class="md-icon-button md-icon-button ion-nav-button-right ion-loop md-button md-default-theme material-background" ng-click="reloadPage()" style='font-size:30px'></i>
</ion-nav-buttons> -->
<!--end right button on navigation bar-->



    <!--toolbar section-->
    <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium">
        <div></div><div>
            <h3>Class & Section</h3>
        </div>
		<span>
        <a class="md-button md-accent md-fab fab-toolbar-medium"
           aria-label="Add"  ng-click="reloadPage()">
            <i class="icon ion-loop" ></i><span style="font-size: 15px;font-weight: 900;padding-left:-2px;vertical-align: top;"></span>
        </a>
		</span>
        <!-- <a class="md-button md-accent md-fab fab-toolbar-medium"
           aria-label="Add">
            <i class="icon ion-plus"></i>
        </a> -->
    </md-toolbar><!--end toolbar section-->

    <!--dashboard section-->
    <ion-content id="dashboard-content">





        <!--list section-->

        <!--Below code it will disable animation to better performance-->
        <div ng-if="!isAnimated" class="menu-list">
<br>            
<!--<md-subheader class="md-warn">Student Details</md-subheader>-->
<div class="course-list" style="padding:5px;margin-top:40px;">
<div align='center'  class='dash_content_warning' style="display:none;padding:5px;border:1px solid #E1E1E1"></div>	
<br>
<div class="content dscard_clr1 rndcnr" style="background-color: #00baf2 !important;" >
<div class="dash-medium">
	<div class="row">
		<!-- <div class="col-25"></div> -->
		<div class="col-33">
			<md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)">
				<md-option ng-repeat="data in datas"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			</md-select>
		</div>
		<div class="col-33" style='float:none;text-align: center;margin: 0 auto; '>

			<md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" align='center' style='color:#fff;float:none;text-align: center;margin: 0 auto; '>
				<!-- <md-option ng-if="status" value="" selected>Section</md-option> -->
				<md-option   ng-repeat="data in datasec"  value="{{data.sectionID}}" >{{data.section}}</md-option>
			</md-select>
		</div>
		<div class="col-33" style='margin-top:20px'>
				<!-- <a href='#' ng-click="proceed()" class="md-raised md-button md-default-theme dscard_clr5" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>Proceed</a> -->
				<a ng-click="proceed(mdSelectValue,mdSelectValue1)" class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px;background-color:#042e6f !important'>PROCEED</a>
		</div>
	</div>

</div></div>
</div>

</div>

    </ion-content><!--end dashboard section-->
</ion-view>



