<!--View Information-->
<!--View name : Setting---->
<!--State name : app.setting-->
<!--URL : #app/setting-->

<ion-view title='<img src="img/logo_75_33.png">'>
<!--right button on navigation bar-->
<ion-nav-buttons side="right">
	<i class="md-icon-button md-icon-button ion-nav-button-right ion-android-more-vertical md-button md-default-theme material-background" ng-click="showListBottomSheet($event)" style='font-size:25px'></i>
</ion-nav-buttons> 
<!--end right button on navigation bar-->


    <!--social sign up section-->
    <ion-content id="social-sign-up-content">
	<md-subheader class="md-warn">Change Password</md-subheader>
        <!--input section-->
        <md-input-container md-no-float="">
            <div>
                <input type="password" class="user-name" placeholder="Old Password">
            </div>
        </md-input-container>
        <md-input-container md-no-float="">
            <div>
                <input type="password" class="user-name" placeholder="New Password">
            </div>
        </md-input-container>
		<md-input-container md-no-float="">
            <div>
                <input type="password" class="user-name" placeholder="Confirm Password">
            </div>
        </md-input-container>
       

        <!--end input section-->
        <a class="md-raised social-button md-button md-default-theme material-background">
            Submit
        </a>

    </ion-content><!--end social sign up section-->
</ion-view>