<!--View Information-->
<!--View name : Student Transaction -->
<!--Controller name : settlementCtrl>
<!--Controller path : www/js/controllers.js-->
<!--State name : app.settlement>
<!--URL : #app/transaction-->

<ion-view title='<img src="img/logo_75_33.png">'>

<!--right button on navigation bar-->
<ion-nav-buttons side="right">
	<i class="md-icon-button md-icon-button ion-nav-button-right ion-loop md-button md-default-theme material-background" ng-click="reloadPage()" style='font-size:30px'></i>
</ion-nav-buttons> 
<!--end right button on navigation bar-->

    <!--menu dashboard section-->
    <ion-content id="menu-dashboard-content">
        <!--panel section-->

<!-- <a ng-click="reloadPage()" class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>REFRESH</a> -->
<div align='center'  class='settlement_warning'></div>
				<br>
<div class="settlement_content" style='display:none'>
<div align='center' style='font-size:18px;'> <B>Current pending amount (Rs)  : </B><a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>{{ currentbalance }}</a> </div>
<br>
<div class="row price-detail" >
				
    <div class="col-25 package-name">
         <B>DATE</B>
    </div>
	<div class="col-25 package-name">
		<B>MODE</B>
    </div>
    <div class="col-25 package-name">
		<B>CREDIT</B>     
    </div>
	<div class="col-25 package-name">
		<B>BALANCE</B>     
    </div>
</div>
<!-- <div class="row " >
	<div class="col-25 package-name">
		<B> &nbsp;2016-12-15</B>
    </div>
    <div class="col-25 package-name">
         <B>CASH</B>
    </div>
    <div class="col-25 subscribe-button">
         <B>100</B>
    </div>
	 <div class="col-25 subscribe-button">
         <B>100</B>
    </div>
</div>

<div class="row " >
	<div class="col-25 package-name">
		<B> &nbsp;2016-12-10</B>
    </div>
    <div class="col-25 package-name">
         <B>CHEQUE</B>
    </div>
    <div class="col-25 subscribe-button">
         <B>100</B>
    </div>
	 <div class="col-25 subscribe-button">
         <B>200</B>
    </div>
</div> -->
<div collection-repeat="data in datas">
<div class="row " >
	<div class="col-25 package-name">
		<B> &nbsp;{{data.date}} </B>
    </div>
    <div class="col-25 package-name">
         <B>{{data.mode}} </B>
    </div>
    <div class="col-25 subscribe-button">
          <B>{{data.credit}}</B>
    </div>
	 <div class="col-25 subscribe-button">
           <B>{{data.debit - data.credit}}.00</B>
    </div>
</div>
</div>



		<!-- <table width='100%' border='1'>
		<thead>
		<tr>
		<th>S ID</th>
		<th>S NAME</th>
		<th>CLASS</th>
		<th>SECTION</th>
		<th>AMOUNT</th>
		</tr>
		</thead>
		<tbody  width='100%'  collection-repeat="data in datas">
		<tr>
		<td>{{data.studentID}}</td>
		<td>{{data.studentname}}</td>
		<td>{{data.classes}}</td>
		<td>{{data.section}}</td>
		<td>{{data.debit}}</td>
		</tr>

		</tbody>
		</table> -->

      
</div>
       
    </ion-content><!--Menu dashboard section-->
</ion-view>