<!--View Information-->
<!--View name : Staff Login -->
<!--State name : app.stafflogin -->
<!--URL : #app/stafflogin -->

<ion-view title="Sign In" hide-nav-bar="true">
    <!--left button on navigation bar-->
    <!--  <ion-nav-buttons side="left">
       <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a> -->
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--login content section-->
    <ion-content id="social-login" class="bg-white1 app_login">
        <!--fake login form section-->
		
        <form class="fakeLogin-form" name="myForm1" novalidate  style='background:#fff;opacity:0.9;margin-top:36%;padding-top:30px;padding-bottom:30px;margin-left:50px;margin-right:50px;'>
            <div class="sub-header"><img src="img/logo.png"/></div>
		   <div class="list"  style="text-align:center; color:white">
				<div class="sub-header" style="color: #445a10;letter-spacing: 2px;"><B>{{schoolname}}</B></div> 
		   </div>
<div id="fakeLogin">
		   <md-input-container md-no-float="" style="">
            <div style="height:10px">
                <input type="text" class="user-name" id="username" name="username" ng-model="username"  placeholder="User Name"  required style='color: #000;border-bottom:1px solid #b1b1b1;'>
				
            
			<p style="color:#042e6f;padding-top:20px" ng-show="submitted&&myForm1.username.$error.required">* User Name is required</p>
			</div>
				<!-- <p style="color:#042e6f" ng-show="submitted">{{errMessage}}</p> -->
        </md-input-container>
		<md-input-container md-no-float="">
            <div style="height:20px">
                <input type="password" class="user-name" id="userpass" name="userpass" ng-model="userpass"  placeholder="Password"  required style='color: #000;border-bottom:1px solid #b1b1b1;'>
				
            </div>
			<p style="color:#042e6f;padding-top:20px" ng-show="submitted&&myForm1.userpass.$error.required">* Password is required</p>
			<!-- <p style="color:#042e6f" ng-show="submitted">{{errMessage}}</p> -->
        </md-input-container>
		
<div>		
	
        <!--end input section-->
        <!-- <a ng-click="submitted=true;submitted&&stafflogin(username,userpass);" ng-disabled="myForm1.$invalid" class="md-raised social-button md-button md-default-theme material-background" style='background-color : #042e6f !important;;width:108px!important;min-width:0px!important'>
            Update
        </a>  -->
		   <!-- <div id="fakeLogin">
                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="User Name" ng-model="login_modal.username" id="username" name="username" required style='color: #000;border-bottom:1px solid #b1b1b1;'>
					<p style="color:#042e6f" ng-show="submitted&&myForm1.username.$error.required">* User Name is required</p>
					<p style="color:#042e6f" ng-show="submitted">{{errMessage}}</p>
                </md-input-container>
				<md-input-container md-no-float="">
                    <input class="user-password"  type="password" placeholder="Password" ng-model="login_modal.password" id="password" required name="password" style='color: #000;border-bottom:1px solid #b1b1b1;'>
					<p style="color:#042e6f" ng-show="submitted&&myForm1.password.$error.required">* Password is required</p>
					<p style="color:#042e6f" ng-show="submitted">{{errMessage}}</p>
                </md-input-container>
           </div>-->
           <div>
			<h4 style="color:white">  
			<a ng-click="submitted=true;submitted&&stafflogin(username,userpass)" ng-disabled="myForm1.$invalid" class="md-raised social-button md-button md-default-theme material-background" style='background-color : #445a10 !important;width:108px!important;min-width:0px!important'> SIGNIN</a></h4> 

		<!--	<p style="color:#66747a;padding-top:20px;font-size:13px;">App developed by <a href="http://tturk.in/" style="color:#0c60ee">NOVANEXT</a></p>
		 -->  </div>
        </form> <!--end fake login form section-->



    </ion-content><!--end login content section-->
</ion-view>


