<!--View Information-->
<!--View name : studentid-->
<!--State name : app.studentid-->
<!--URL : #app/studentid-->

<ion-view title='<img src="img/logo_75_33.png">' >

    <!--left button on navigation bar-->
	
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" href="#/app/login" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a> 
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--login content section-->
    <ion-content id="social-login" class="bg-white1 app_login">
        <!--fake login form section-->
        <form class="fakeLogin-form">
            <div>
                <img src="img/app_icon.png"/>
            </div>
            <div class="sub-header"><B>TTURK</B></div>

            <div id="fakeLogin">
                <md-input-container md-no-float="">
                    <input class="otp" placeholder="Enter Student ID" ng-model="studentid" id="studentid" name="studentid" style='color: #fff;border-bottom: 1px #fff solid'>
                </md-input-container>
				<!-- <hr/> -->
            </div>
            <div>
                <!-- <a ng-click="showAlertDialog($event)" class="md-raised social-button md-button md-default-theme material-background"> -->
				<a ng-click="submitstuid(studentid)" class="md-raised social-button md-button md-default-theme material-background">
                    Submit
                </a>

            </div>
        </form> <!--end fake login form section-->
    </ion-content><!--end login content section-->
</ion-view>