<!--View Information-->
<!--View name : Time Table -->
<!--Controller name : timetableCtrl-->
<!--Controller path : www/js/controllers.js-->
<!--State name : app.timetable-->
<!--URL : #app/timetable-->

<ion-view title='Time Table'>

<!--right button on navigation bar-->
<ion-nav-buttons side="right">
	<!-- <i class="md-icon-button md-icon-button ion-nav-button-right ion-android-more-vertical md-button md-default-theme material-background" ng-click="showListBottomSheet($event)" style='font-size:25px'></i> -->
</ion-nav-buttons> 
<!--end right button on navigation bar-->

    <!--menu dashboard section-->
    <ion-content id="menu-dashboard-content">

	<!-- <md-subheader class="md-warn">Time Table</md-subheader> -->
        <!--panel section-->

		


 <div class="button-bar">


<ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false" style=" overflow: hidden;white-space: nowrap;margin-top: 1px!important;margin-bottom: 0px;!important"> 

<div class="account-item" ng-repeat='item in dayNames'>
   <div class="account-heading" ng-class="{active : activeMenu === item}">
      <h4 class="account-title">
        <a  ng-click="setActive_gettimetable(item)"> {{ item }}</a>
      </h4>
   </div>
</div>

</ion-scroll>
</div>





<div collection-repeat="data in api_dayvalue" class="lopcls1">
 <div class="lopcls timescrn spaceclr{{$index+1}}" >
<div style="" class="lopcontnt">
<span style="" class="">Hour : {{data.hour}}  <br> Class : {{data.class}} <br> Time : {{data.start_time}} - {{data.end_time}} </span>
</div>
</div> 
</div>

<div ng-if="api_length == 0">
<h4 align="center">No Class hours today...!!!</h4>
</div>

  <style>
  .timescrn .lopcontnt
  {
    margin-left: 10px;
	height: 74px;
  }
  .lopcls1
  {
	border-bottom: 1px solid #fff !important;
  }
  .timescrn
  {
	    height: 75px !important;
  }
</style>
    </ion-content><!--Menu dashboard section-->
</ion-view>
