<!--View Information-->
<!--View name : transport-->
<!--State name : app.transport-->
<!--URL : #app/transport-->

<!--Online course section-->
<ion-view title='<img src="img/logo_75_33.png">' id="online-course">
<!--right button on navigation bar-->
<ion-nav-buttons side="right">
	<i class="md-icon-button md-icon-button ion-nav-button-right ion-android-more-vertical md-button md-default-theme material-background" ng-click="showListBottomSheet($event)" style='font-size:25px'></i>
</ion-nav-buttons> 
<!--end right button on navigation bar-->

    <ion-content id="online-course-content">

	 <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="MAP">
                    <md-content>
                       <div class="hero no-header flat" ng-init="init()">
            
                <div id="map"></div>
            
        </div>

						 

                    </md-content>
                </md-tab>
                <md-tab label="Schedule">
                    <md-content>
                        
						<div class="course-list">
<br><br>
						<!--content item section-->
						<div class="course-item col-50" style='float: left;'>
							<div class="title angular-course-background ">
								Pickup
							</div>
							<div class="content">
							<br>
								<p>
									<a href="" class="md-raised md-button md-default-theme ionic-course-background">
										<i class="fa fa-clock-o"></i> 07:30 AM</a>
									<a href="" class="md-raised md-button md-default-theme ionic-course-background">
										<i class="fa fa-home"></i>Home</a>
								</p>
							</div>
						</div> <!--end content item section-->

						<!--content item section-->
						<div class="course-item col-50" style='float: left;'>
							<div class="title angular-course-background ">
								Arrive School
							</div>
							<div class="content">
							<br>
								<p>
									<a href="" class="md-raised md-button md-default-theme ionic-course-background">
										<i class="fa fa-clock-o"></i> 08:00 AM</a>
									<a href="" class="md-raised md-button md-default-theme ionic-course-background">
										<i class="fa fa-building"></i>School</a>
								</p>
							</div>
						</div> <!--end content item section-->


						<!--content item section-->
						<div class="course-item col-50" style='float: left;'>
							<div class="title angular-course-background ">
								Leave School
							</div>
							<div class="content">
							<br>
								<p>
									<a href="" class="md-raised md-button md-default-theme ionic-course-background">
										<i class="fa fa-clock-o"></i> 12:00 PM</a>
									<a href="" class="md-raised md-button md-default-theme ionic-course-background">
										<i class="fa fa-building"></i>School</a>
								</p>
							</div>
						</div> <!--end content item section-->

						<!--content item section-->
						<div class="course-item col-50" style='float: left;'>
							<div class="title angular-course-background ">
								Dropoff
							</div>
							<div class="content">
							<br>
								<p>
									<a href="" class="md-raised md-button md-default-theme ionic-course-background">
										<i class="fa fa-clock-o"></i> 12:25 PM</a>
									<a href="" class="md-raised md-button md-default-theme ionic-course-background">
										<i class="fa fa-home"></i>Home</a>
								</p>
							</div>
						</div> <!--end content item section-->
					</div>

                    </md-content>
                </md-tab>
            </md-tabs>


    </ion-content>
   <!--  <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add">
            <i class="ion-android-star"></i>
        </a>
    </div> -->

</ion-view><!--end online course section-->