<!--View Information-->
<!--View name : View Assignment -->
<!--State name : app.view_assignment -->
<!--URL : #app/view_assignment -->

<ion-view title='View Assignment'>
    <ion-content id="news-feed-content">

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<!-- <span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span> -->
			<a ng-click="call_searchassignment();" style="float: right;font-size:13px;color:#fff;border: 1px solid;padding: 2px 5px;margin-top: 4px;border-radius: 7px;"><i class="fa fa-search" style="font-size: 15px;"></i> Search</a>
		 </div>																					
	 </div>

        <div class="news-item">

	<div class="button-bar">

<ion-scroll direction="x" scrollbar-x="false" scrollbar-y="false" style=" overflow: hidden;white-space: nowrap;margin-top: 1px!important;margin-bottom: 0px;!important"><!-- a lot of buttons -->
 <div id="material-header-holder"  >  
<a class="button button-stabl" ng-click="getassign({{ button.full_date }})" ng-repeat="button in dates"  style="padding:0px;    border-color: #445a10;">
   
  <div class="ui-datepicker-material-header">
		<div class="ui-datepicker-material-day" ng-class="{'active': {{ button.date }} == current}"  style="    color: #fff;">{{ button.day }}
		</div>
    <div class="ui-datepicker-material-date" style="background: #fff; border: 0px solid #757575;padding: 5px;">
		  <div class="ui-datepicker-material-month" style="    line-height: 20px;">{{ button.monthword }} {{ button.date }}
		  </div>
    </div>
  </div> 
</a>
 </div> 

</ion-scroll>
</div>
	<div ng-if="msg === '0'">
	<div collection-repeat="data in datas" class="lopcls1" ng-bind-html-unsafe="data.content">
		<div class="lopcls spaceclr{{$index+1}}" >

			<span  ng-if="data.type  === 'Specific'"><i class="icon ion-android-contact assn_icon"></i></span>
			<span  ng-if="data.type  === 'All'"><i class="icon ion-android-contacts assn_icon"></i></span>
			<div style="" class="lopcontnt"  ng-click="show(data.assn_id)">
				<span style="font-size: 13px;font-style: italic;color:#445a10;" class="">
				{{data.subject_name}}<!-- <span style="float: right;margin-right: 10px;">Class : {{data.classname}} - {{data.sectionname}} </span><br> -->
				<span  ng-if="data.type  === 'All'"  style="float: right;margin-right: 10px;">All Students</span>
				<span  ng-if="data.type  === 'Specific'"><span style="float: right;margin-right: 10px;">{{data.name}} (ID : {{data.studentID}})</span></span>
				</span>
				 <br><p style="text-align:justify;padding-top: 5px;"> {{data.shortcontent | limitTo:60}}...</p>
			
			</div>
		</div> 
	</div>
	</div>
	<div ng-if="msg === '1'">
	<h4 align="center">No Assignment Today...!!!</h4>
	</div>
	<br><br>

        <div class="row"></div>
    </ion-content><!--end news feed section-->

<style>
#news-feed-content .news-item
{
background-color:transparent !important;
}
.lopcls1
{
    border-bottom: 0px solid grey !important;
}
.ui-datepicker-material-day
{
background:    rgba(0,0,0,0.87);
}
.ui-datepicker-material-header .active
{
background : rgb(120, 162, 24);
}
.assn_icon
{
	float: left;
    color: #202020;
    font-size: 30px;
    padding: 5px;
    padding-top: 15px;
}
</style>
</ion-view>
<script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive" style="background-color : #78a218 !important;">
          <h1 class="title">View Assignment</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
        </ion-header-bar>
        <ion-content class="padding">

		<div class="row detail">
			<div align="left" class="col col-50"><p style="font-size: 14px">Date : {{single_data.date}}</p></div>
			<div align="right" class="col col-50"><p style="font-size: 14px">
				<span  ng-if="single_data.type  === 'Specific'">{{single_data.studentname}} ( ID : {{single_data.studentID}} ) </span>
				<span  ng-if="single_data.type  === 'All'">All</span>
			</p></div>
		</div>

		<div class="row detail">
			<div align="left" class="col col-50"><p style="font-size: 14px">Subject : {{single_data.subject_name}}</p></div>
			<div align="right" class="col col-50"><p style="font-size: 14px">Class : {{single_data.classname}} - {{single_data.sectionname}}</p></div>
		</div>
		<div class="row detail">
			<div class="col col-25"><h1 style="font-size: 14px;padding:10px">File</h1>
			</div>
			<div class="col"><a class="content" style="font-size:14px;">{{single_data.file}}</a>
				<button ng-if="filefound== '1'"  ng-click="download()"  type="button" style="background-color: #4CAF50;
				border: none;
				color: white;
				padding: 7px ;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;">View</button>
			
				<input ng-click="redirect()" name="View" value="View" style="margin-left:5px;background-color: #4CAF50;
				border: none;
				color: white;
				padding: 7px ;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;" type="hidden">
			</div>
		</div>
	
		<div class="row detail">
			<div class="col"><p style="font-size: 14px">Assignment</p></div>
		</div>
		<div class="row detail">
			<div class="col"><p class="content" id="content" style="font-size:14px;text-align:justify" ></p>
			
			</div>
		
        </ion-content>
      </ion-modal-view>
    </script>