<!--View Information-->
<!--View name : View Attendance -->
<!--Controller name : view_attendance>
<!--Controller path : www/js/controllers.js -->
<!--State name : app.view_attendance -->
<!--URL : #app/view_attendance -->

<ion-view title='View Attendance'>

<!--right button on navigation bar-->
<!--<ion-nav-buttons side="right">
	<i class="md-icon-button md-icon-button ion-nav-button-right ion-loop md-button md-default-theme material-background" ng-click="reloadPage()" style='font-size:30px'></i>
</ion-nav-buttons> -->
<!--end right button on navigation bar-->

    <!--menu dashboard section-->
    <ion-content id="menu-dashboard-content">
        <!--panel section-->
<!-- <md-subheader class="md-warn">View Attendance</md-subheader> -->
        <!--panel section-->

	<div class="row" style="background-color: #445a10;    padding-top: 0px;">
		 <div class="col-33" style="float:left;padding-left: 10px;">
			 <md-select ng-model="mdSelectValue" placeholder="Class" aria-label="md-option"  ng-change="getsection(mdSelectValue)"  style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option ng-repeat="data in datas_class"  value="{{data.classesID}}" >Class {{data.classes}}</md-option>
			 </md-select>  
		 </div>
		 <div class="col-33" style="float:left">
			 <md-select ng-model="mdSelectValue1" placeholder="Section" aria-label="md-option" ng-change="proceed(mdSelectValue,mdSelectValue1)" style="padding: 0px;color: #fff;border-bottom-color: #fff;">
						<md-option   ng-repeat="data in datasec" value="{{data.sectionID}}" >{{data.section}}</md-option>
			 </md-select>
		 </div>
		 <div class="col-33" style="float:left">
			<span style="float: right;padding-right:10px;font-size:13px;color:#fff;padding-top: 10px;">{{date | date:'dd-MM-yyyy'}}</span>
		 </div>																					
	 </div>

<!-- <h2 class="md-warn md-subheader md-default-theme" style="background-color: #042e6f; padding: 0px!important; height: 25px;"><div class="md-subheader-inner" style="padding-top:6px!important;"><span style="float: left;font-size:13px;">Class : {{classname}} - {{sectionname}}</span><span style="float: right;padding-right:10px;font-size:13px;">{{date | date:'dd-MM-yyyy'}}</span></div></h2> -->


<md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="Date Wise">
		<md-content>
                        
                   






<!--<a  class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>{{date}}</a>
<a  class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>CLS : {{classname}} - {{sectionname}}</a>-->
<!-- <a href="" ng-click="showGridBottomSheet($event)" class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>STRENGTH</a> -->
<div class="course-list">
	<div class="course-item" style="margin-top:5px;margin-bottom:15px;padding: 0px 5px 0px 5px;">
                
                <div class="content" style="border-top: 0px;border: 2px solid #E1E1E1;border-radius: 0px;">
					<div class="row price-detail" style="padding: 0px">  <div class="col col-10"></div>	
						<div class="col">
							<input type="date" class="user-name" name="s_date" ng-model="s_date"  placeholder="Date" value="{{date | date:'DD-MMM-YYYY'}}"  required  style="color: rgb(0, 0, 0);border-bottom: 1px solid rgb(177, 177, 177);" >
							</div>
						 <div class="col col-10"></div>		
						<div class="col col-35"> 
						<span style="">
							  <a ng-click="classattend(s_date)" class="md-raised social-button md-button md-default-theme material-background" style='background-color : #445a10 !important;width:108px!important;min-width:0px!important'>
									Search
								</a> 
					</span>
					</div>
					<div class="col col-10"></div>	
					
					</div>
                </div>
            </div> <!--end content item section-->
	
</div>
</div>
<!--<md-input-container md-no-float="">
            <div>
                <input type="text" onfocus="(this.type='date')" class="user-name"  placeholder="Date" ng-model="s_date" id="s_date" name="s_date" style='float:left;margin-top:10px;border-bottom:1px solid #D3D3D3'><a ng-click="classattend(s_date)" class="md-raised md-button md-default-theme material-background" style='float:left;text-align:center;color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>Search</a>
            </div>
</md-input-container>-->

<div align='center'  class='transaction_warning'></div>
<!-- <span ng-if="init === '1'" ><strong>Dated on : {{date | date :'dd-MM-yyyy'}} </strong></span>
<span ng-if="init === '0'" ><strong>Dated on : {{s_date | date :'dd-MM-yyyy'}} </strong></span> -->

					<!--<div class="course-item col-50" style='float: left;'>
							<div class="content angular-course-background rndcnr" style='width: 165px;'>
							<br>
								<div class="dash-medium">
									<h2>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home"></i>&nbsp;Pick Up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
								</div>
									<p style='text-align: center;'>
									<a href="" class="md-raised md-button md-default-theme ionic-course-background dscard_clr5">
										07:30 AM</a>
								</p>
							</div>
						</div>-->
<div class="row attn_typ col" style="margin-top: -15px;margin-bottom: -5px;display:none">
<md-radio-group ng-model="data.group1" ng-change="radioChanged()">
      <div class="col-50"  align="center" style="float:left"><md-radio-button value="1"  class="md-primary">Morning</md-radio-button></div>
      <div class="col-50"  align="center"><md-radio-button  value="2"  class="md-primary"> Afternoon </md-radio-button></div>
    </md-radio-group>
</div>

<div class="transaction_content" style=''>
<md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="PRESENT">
		<md-content>
		
			<md-list  >
				<md-list-item ng-repeat="data in defaultData" ng-if="data.day === 'P'" >
				<!-- <div ng-if="topping.status == 'Present'"> -->
					<!-- <img alt="name" ng-src="img/jon-snow.jpg" class="md-avatar" width="50px" style='float:left'/> -->
					<!--<span ng-if="data.day === 'P'">
					<span ng-if="data.day === 'P'">-->
						 <img ng-if="data.day === 'P'" alt="name" ng-src=" {{baseurl}}/uploads/images/{{data.photo}}" class="md-avatar"/>
						 <p  ng-if="data.day === 'P'" style='float:left' > {{ data.name }} </p>
					<!--</span>-->
				</md-list-item>
					
				<md-list-item ng-if="data.day === 'H'" >
					<!--</span>
					<span ng-if="data.day === 'H'">-->
					 <img ng-if="data.day === 'H'" alt="name" ng-src="img/jon-snow2.jpg" class="md-avatar"/>
					<p  ng-if="data.day === 'H'" style='float:left'> {{ data.name }} <md-icon class="md-secondary" aria-label="Chat" md-svg-src="half" style='margin-top:-2px' ></md-icon></p><!--</span>-->
				<!--  </div> -->
				  </md-list-item>

				</md-list>
        </md-content>
	</md-tab>
	<md-tab label="ABSENT">
		<md-content>
				<md-list >
				 <md-list-item ng-repeat="datas in defaultData" ng-if="datas.day === 'A'" >
				<!-- <div ng-if="topping.status == 'Present'"> -->
					<!-- <img alt="name" ng-src="img/jon-snow.jpg" class="md-avatar" width="50px" style='float:left'/> -->
					<!--<span ng-if="datas.day === 'A'">-->
					 <img ng-if="datas.day === 'A'" alt="name" ng-src="{{baseurl}}/uploads/images/{{datas.photo}}" class="md-avatar"  width="50px" style='float:left'/>
					<p  ng-if="datas.day === 'A'" style='float:left'> {{ datas.name }} </p>
				<!--  </div>  </span>-->
				  </md-list-item>
				</md-list>
        </md-content>
	</md-tab>
</md-tabs>


</div>

	   
	</md-content>
</md-tab>
<md-tab label="Student Wise">
	<md-content>
	<div class="course-list">
	<div class="course-item" style="margin-top:5px;margin-bottom:15px;padding: 0px 5px 0px 5px;">
                
                <div class="content" style="border-top: 0px;border: 2px solid #E1E1E1;border-radius: 0px;">
					<div class="row price-detail" style="padding: 0px">  <div class="col col-10"></div>	
						<div class="col"> 
							<input type="text" class="user-name" name="studentID" ng-model="studentID"  placeholder="Enter Roll No" required displayFormat="DD-MM-YYYY" style="color: rgb(0, 0, 0);border-bottom: 1px solid rgb(177, 177, 177);" >
						</div>		
						<div class="col col-35"> 
							 <a ng-click="studentsearch(studentID)" class="md-raised social-button md-button md-default-theme material-background" style='background-color : #445a10 !important;width:108px!important;min-width:0px!important'>
									Search
								</a> 
						</div>
						<div class="col col-10"></div>	
					
					</div>
                </div>
            </div> <!--end content item section-->
	
</div>
</div>
       <!--  <md-input-container md-no-float="">
            <div>
                <input class="user-name" placeholder="studentID" ng-model="studentID" id="studentID" name="studentID" style='float:left;margin-top:10px'><a ng-click="studentsearch(studentID)" class="md-raised md-button md-default-theme material-background" style='float:left;text-align:center;color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>Search</a>
            </div>
        </md-input-container>-->

<!-- <a ng-click="reloadPage()" class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'></a>
<a ng-click="reloadPage()" class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>CLS : </a>
<a href="" ng-click="showGridBottomSheet1($event)" class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>STRENGTH</a> -->


		<md-list >
            <md-list-item>
                <div class="md-grid-text1 col-50" style="padding:0px 10px">NAME </div>
				<a class="md-raised md-button md-default-theme material-background col-50" style='color:#fff;font-weight:600;letter-spacing:1px;background-color : #445a10 !important;padding:0px 10px'>{{studentname}}</a>
			</md-list-item>
			<md-list-item>
                <div class="md-grid-text1 col-50" style="padding:0px 10px">ROLL NO </div>
				<a class="md-raised md-button md-default-theme material-background col-50" style='color:#fff;font-weight:600;letter-spacing:1px;background-color : #445a10 !important;padding:0px 10px'>{{studentID}}</a>
			</md-list-item>
			<md-list-item>
                <div class="md-grid-text1 col-50" style="padding:0px 10px">PERCENTAGE </div>
				<a class="md-raised md-button md-default-theme material-background col-50" style='color:#fff;font-weight:600;letter-spacing:1px;background-color : #445a10 !important;padding:0px 10px'>{{percent}} %</a>
			</md-list-item>
            <md-list-item>
                <div class="md-grid-text1 col-50" style="padding:0px 10px">TOTAL WORKING DAYS</div>
				<a class="md-raised md-button md-default-theme material-background col-50" style='color:#fff;font-weight:600;letter-spacing:1px;background-color : #445a10 !important;padding:0px 10px'>{{workingdays}}</a>
			</md-list-item>
			<md-list-item>
                <div class="md-grid-text1 col-50" style="padding:0px 10px">TOTAL PRESENT DAYS</div>
				<a class="md-raised md-button md-default-theme material-background col-50" style='color:#fff;font-weight:600;letter-spacing:1px;background-color : #445a10 !important;padding:0px 10px'>{{presentdays}}</a>
			</md-list-item>
            <md-list-item>
                <div class="md-grid-text1 col-50" style="padding:0px 10px">TOTAL ABSENT DAYS</div>
                <a class="md-raised md-button md-default-theme material-background col-50" style='color:#fff;font-weight:600;letter-spacing:1px;background-color : #445a10 !important;padding:0px 10px'>{{absentdays}}</a>
            </md-list-item>

        </md-list>

    </md-content>
</md-tab>
</md-tabs>

<style>
md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused
{
    color: rgb(120, 162, 24);
}
</style>
    </ion-content><!--Menu dashboard section-->
</ion-view>




<script type="text/ng-template" id="ui-grid-bottom-sheet-template">
    <md-bottom-sheet class="md-grid">
        <!--list section-->
        <md-list id="bottom-sheet-grid-md-list">
            <md-list-item>
                <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                   
					<a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>65</a>
					 <div class="md-grid-text1" style="text-align:center;font-weight:600;letter-spacing:1px;padding:0px 10px"> TOTAL</div>
                    
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                    <a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>60</a>
					 <div class="md-grid-text1" style="text-align:center;font-weight:600;letter-spacing:1px;padding:0px 10px"> PRESENT</div>
                </a>
            </md-list-item>
            <md-list-item>
                <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
                    <a class="md-raised md-button md-default-theme material-background" style='color:#fff;font-weight:600;letter-spacing:1px;padding:0px 10px'>5</a>
					 <div class="md-grid-text1" style="text-align:center;font-weight:600;letter-spacing:1px;padding:0px 10px"> ABSENT</div>
                </a>
            </md-list-item>

        </md-list>
        <!--end list section-->
    </md-bottom-sheet>
</script>

